.flows_NEST-EHUB70.json.backup
[{"id":"134033fa.c8fdfc","type":"tab","label":"Individual Signal"},{"id":"cec03951.a6d398","type":"tab","label":"Weather Station"},{"id":"35db75a3.025a7a","type":"tab","label":"Live Data Dashboard"},{"id":"ad33cb97.8079a8","type":"tab","label":"Flow 4"},{"id":"f75da8ed.072538","type":"subflow","name":"Persistence Helper","info":"","in":[{"x":45.5,"y":85,"wires":[{"id":"1a12ca6f.b47596"}]}],"out":[{"x":749.5,"y":53,"wires":[{"id":"6a0ed238.e802ac","port":0}]},{"x":755,"y":169,"wires":[{"id":"626c60d9.30a0d","port":0}]}]},{"id":"3a8fdda5.7f1372","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#6c79ec","baseFont":"Helvetica Neue","edited":true,"reset":false},"customTheme":{"name":"Trial1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#4B7930","edited":false},"page-titlebar-backgroundColor":{"value":"#4B7930","edited":false},"page-backgroundColor":{"value":"#121212","edited":true},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#6db046","edited":false},"group-borderColor":{"value":"#121212","edited":true},"group-backgroundColor":{"value":"#121212","edited":true},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#4b7930","edited":false},"widget-borderColor":{"value":"#121212","edited":true}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"true","dateFormat":"MMMM Do YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c37e085a.8bf968","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://192.168.223.20:4851","login":false},{"id":"5f582c01.948c94","type":"ui_tab","z":"","name":"Individual Signals","icon":"dashboard","order":11},{"id":"9534cec8.3799d","type":"MSSQL-CN","z":"","name":"NEST","server":"NEST-SQL-HIST","encyption":false,"database":"NestTest"},{"id":"78c97882.c8d7d8","type":"ui_group","z":"","name":"Filter","tab":"5f582c01.948c94","order":1,"disp":true,"width":"10"},{"id":"4a08f317.ad3b3c","type":"MSSQL-CN","z":"","name":"Empa","server":"localhost","encyption":false,"database":"Empa"},{"id":"b98919d9.73de08","type":"ui_group","z":"","name":"Resolution","tab":"4da99961.9bcc98","order":3,"disp":false,"width":"30"},{"id":"a72bf93f.6dae08","type":"MSSQL-CN","z":"","name":"Test1234","server":"NEST-SQL-HIST","encyption":true,"database":""},{"id":"812e6178.ac26a","type":"MSSQL-CN","z":"","name":"Empa","server":"localhost","encyption":false,"database":"Empa"},{"id":"a99a61a.a26ada","type":"ui_group","z":"","name":"Image","tab":"","disp":true,"width":"14"},{"id":"c177541d.dcdee8","type":"ui_group","z":"","name":"Group 2","tab":"","order":2,"disp":true,"width":"6"},{"id":"b45303cc.ce698","type":"ui_group","z":"","name":"Resolution","tab":"5f582c01.948c94","order":5,"disp":false,"width":"30"},{"id":"4da99961.9bcc98","type":"ui_tab","z":"","name":"Weather Station","icon":"dashboard"},{"id":"1fd15ca0.8b8e23","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6"},{"id":"e55ed1fa.19c44","type":"MSSQL-CN","z":"","name":"NEST2","server":"NEST-SQL-HIST.NEST.LOCAL","encyption":false,"database":"NestTest"},{"id":"16b4424d.dddb6e","type":"ui_group","z":"","name":"Live Data","tab":"5f582c01.948c94","order":3,"disp":false,"width":"12"},{"id":"17f52cb8.1a3383","type":"ui_group","z":"","name":"graph","tab":"4da99961.9bcc98","order":2,"disp":false,"width":"30"},{"id":"650e6ab0.629624","type":"ui_tab","z":"","name":"Live Dash","icon":"dashboard"},{"id":"f316440.b48fdc","type":"ui_group","z":"","name":"Outside Live Temperature","tab":"650e6ab0.629624","disp":true,"width":"6"},{"id":"53849b89.4fa1b4","type":"ui_group","z":"","name":"Default","tab":"5f582c01.948c94","order":4,"disp":false,"width":"30"},{"id":"d3ccea4.b611a18","type":"ui_group","z":"","name":"OPC UA","tab":"5f582c01.948c94","order":2,"disp":true,"width":"8"},{"id":"4019201.c1b26e","type":"ui_group","z":"","name":"OPC UA","tab":"4da99961.9bcc98","order":1,"disp":true,"width":"30"},{"id":"303c9969.877a76","type":"ui_group","z":"","name":"OPC UA Weather Station","tab":"650e6ab0.629624","disp":true,"width":"30"},{"id":"d39a7d82.005a2","type":"ui_button","z":"134033fa.c8fdfc","name":"MONTH","group":"b45303cc.ce698","order":8,"width":"3","height":"1","passthru":false,"label":"Month","color":"","bgcolor":"","icon":"","payload":"_month","payloadType":"str","topic":"MONTH","x":159,"y":366,"wires":[["cbd98295.9d348"]]},{"id":"995739d2.da1f28","type":"ui_button","z":"134033fa.c8fdfc","name":"Week","group":"b45303cc.ce698","order":9,"width":"3","height":"1","passthru":false,"label":"Week","color":"","bgcolor":"","icon":"","payload":"_week","payloadType":"str","topic":"Week","x":301,"y":365,"wires":[["cbd98295.9d348"]]},{"id":"5a76c6ff.c3b548","type":"ui_button","z":"134033fa.c8fdfc","name":"Day","group":"b45303cc.ce698","order":10,"width":"3","height":"1","passthru":false,"label":"Day","color":"","bgcolor":"","icon":"","payload":"_date","payloadType":"str","topic":"Day","x":422,"y":362,"wires":[["cbd98295.9d348"]]},{"id":"bf1e97fb.8be948","type":"ui_button","z":"134033fa.c8fdfc","name":"Hour","group":"b45303cc.ce698","order":11,"width":"3","height":"1","passthru":false,"label":"Hour","color":"","bgcolor":"","icon":"","payload":"_hour","payloadType":"str","topic":"Hour","x":538,"y":362,"wires":[["cbd98295.9d348"]]},{"id":"27640373.486e8c","type":"ui_button","z":"134033fa.c8fdfc","name":"Year","group":"b45303cc.ce698","order":7,"width":"3","height":"1","passthru":false,"label":"Year","color":"","bgcolor":"","icon":"","payload":"_year","payloadType":"str","topic":"Year","x":659,"y":361,"wires":[["cbd98295.9d348"]]},{"id":"6a0ed238.e802ac","type":"change","z":"f75da8ed.072538","name":"","rules":[{"t":"set","p":"action","pt":"msg","to":"restore","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":589.5,"y":53,"wires":[[]]},{"id":"1a12ca6f.b47596","type":"json","z":"f75da8ed.072538","name":"","x":175.5,"y":85,"wires":[["6a0ed238.e802ac"]]},{"id":"67868275.66e55c","type":"catch","z":"f75da8ed.072538","name":"","scope":["1a12ca6f.b47596"],"x":183.5,"y":117,"wires":[["4c64940b.61c1fc"]]},{"id":"4c64940b.61c1fc","type":"change","z":"f75da8ed.072538","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":354.5,"y":116,"wires":[["6a0ed238.e802ac"]]},{"id":"626c60d9.30a0d","type":"inject","z":"f75da8ed.072538","name":"Trigger restore","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":618.5,"y":169,"wires":[[]]},{"id":"5e7b6087.74b4c","type":"function","z":"ad33cb97.8079a8","name":"","func":"msg.paylaod = [];\nvar value = [48.9, 38.8, 39.3, 41.4, 47.0, 48.3, 59.0, 59.6, 52.4, 65.2, 59.3, 51.2];\nvar month = [\n            'Jan',\n            'Feb',\n            'Mar',\n            'Apr',\n            'May',\n            'Jun',\n            'Jul',\n            'Aug',\n            'Sep',\n            'Oct',\n            'Nov',\n            'Dec'];\n        \nmsg.payload = [value,month];\n\nreturn msg;","outputs":1,"noerr":0,"x":118,"y":168,"wires":[[]]},{"id":"680e4818.d20d68","type":"debug","z":"ad33cb97.8079a8","name":"highcharts","active":true,"console":"false","complete":"payload","x":220,"y":134,"wires":[]},{"id":"a5de2446.eff588","type":"inject","z":"ad33cb97.8079a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":82,"y":104,"wires":[["650f81.a2fb108"]]},{"id":"650f81.a2fb108","type":"function","z":"ad33cb97.8079a8","name":"","func":"msg.payload = [48.9, 38.8, 39.3, 41.4, 47.0, 48.3, 59.0, 59.6, 52.4, 65.2, 59.3, 51.2]\nreturn msg;","outputs":1,"noerr":0,"x":231,"y":45,"wires":[["680e4818.d20d68"]]},{"id":"7a9783bb.10534c","type":"ui_template","z":"ad33cb97.8079a8","group":"1fd15ca0.8b8e23","name":"Highcharts","order":0,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width\">\n</head>\n<body>\n<script src=\"https://code.highcharts.com/highcharts.js\"></script>\n<script src=\"https://code.highcharts.com/modules/exporting.js\"></script>\n<div id=\"container\" style=\"min-width: 600px; height: 500px; margin: 0 auto\"></div>\n<script>\n(function(scope) {\n        scope.$watch('msg.payload', function(dataseries) {\n            \n    Highcharts.chart('container', {\n    chart: {\n        type: 'column'\n    },\n    title: {\n        text: 'Monthly Average Value'\n    },\n    subtitle: {\n        text: 'Empa NEST'\n    },\n    xAxis: {\n        \n        categories: [\n            'Jan',\n            'Feb',\n            'Mar',\n            'Apr',\n            'May',\n            'Jun',\n            'Jul',\n            'Aug',\n            'Sep',\n            'Oct',\n            'Nov',\n            'Dec'\n        ],\n        crosshair: true\n    },\n    yAxis: {\n        min: 0,\n        title: {\n            text: 'Value'\n        }\n    },\n    tooltip: {\n        headerFormat: '<span style=\"font-size:10px\">{point.key}</span><table>',\n        pointFormat: '<tr><td style=\"color:{series.color};padding:0\">{series.name}: </td>' +\n            '<td style=\"padding:0\"><b>{point.y:.1f} mm</b></td></tr>',\n        footerFormat: '</table>',\n        shared: true,\n        useHTML: true\n    },\n    plotOptions: {\n        column: {\n            pointPadding: 0.2,\n            borderWidth: 0\n        }\n    },\n    series: [{\n        name: 'Numeric_id = 320000',\n        data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4]\n\n    }, {\n        name: 'Numeric_id = 320001',\n        data: [83.6, 78.8, 98.5, 93.4, 106.0, 84.5, 105.0, 104.3, 91.2, 83.5, 106.6, 92.3]\n\n    }, {\n        name: 'Numeric_id = 320002',\n        data: dataseries\n    }]\n});\n        });\n    })(scope);\n</script>\n\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"x":186,"y":245,"wires":[[]]},{"id":"cbd98295.9d348","type":"function","z":"134033fa.c8fdfc","name":"Filter","func":"global.set(\"filter\",msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"x":583,"y":512,"wires":[["f486dc2.9481d2","261c07ac.5f83b8"]]},{"id":"d72fbbc6.455c08","type":"ui_button","z":"134033fa.c8fdfc","name":"download","group":"78c97882.c8d7d8","order":6,"width":"1","height":"1","passthru":false,"label":"","color":"","bgcolor":"","icon":"fa-arrow-down","payload":"download","payloadType":"str","topic":"","x":158,"y":496,"wires":[[]]},{"id":"112e5824.5dfec8","type":"debug","z":"ad33cb97.8079a8","name":"","active":false,"console":"false","complete":"payload","x":732,"y":352,"wires":[]},{"id":"7c5e3971.52cba8","type":"inject","z":"ad33cb97.8079a8","name":"Select","topic":"","payload":"SELECT TOP (3) [_TIMESTAMP] ,[_VALUE] FROM [NestTest].[dbo].[KepMet51]","payloadType":"str","repeat":"","crontab":"","once":true,"x":249,"y":327,"wires":[["614d3a14.bf88b4"]]},{"id":"614d3a14.bf88b4","type":"MSSQL","z":"ad33cb97.8079a8","mssqlCN":"9534cec8.3799d","name":"NEST","query":"","outField":"payload","x":586,"y":392,"wires":[["112e5824.5dfec8","eae7ac3c.dcc09"]]},{"id":"d95f75f4.3125d8","type":"debug","z":"ad33cb97.8079a8","name":"debugger","active":false,"console":"false","complete":"payload","x":738.5,"y":421,"wires":[]},{"id":"6c41d799.95cf88","type":"csv","z":"ad33cb97.8079a8","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","x":315,"y":513,"wires":[["c2dd72e2.cf801","a2001af4.7dbf38"]]},{"id":"9ea5772e.dea0a8","type":"switch","z":"ad33cb97.8079a8","name":"If Yes","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","outputs":1,"x":70,"y":453,"wires":[["6c41d799.95cf88"]]},{"id":"c2dd72e2.cf801","type":"file","z":"ad33cb97.8079a8","name":"","filename":"C:\\Users\\gara\\Desktop\\csv\\msg.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","x":610,"y":637,"wires":[]},{"id":"a2001af4.7dbf38","type":"debug","z":"ad33cb97.8079a8","name":"","active":false,"console":"false","complete":"false","x":546,"y":564,"wires":[]},{"id":"18f35f8c.e9e47","type":"json","z":"ad33cb97.8079a8","name":"","x":357,"y":347,"wires":[["6c41d799.95cf88","d95f75f4.3125d8"]]},{"id":"e49675cc.e7bf88","type":"debug","z":"ad33cb97.8079a8","name":"template debug","active":true,"console":"false","complete":"payload","x":585,"y":293,"wires":[]},{"id":"eae7ac3c.dcc09","type":"change","z":"ad33cb97.8079a8","name":"Expression Modified","rules":[{"t":"change","p":"payload","pt":"msg","from":"\"","fromt":"str","to":"'","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":235,"y":390,"wires":[["18f35f8c.e9e47","1d5aca2c.3b4ed6"]]},{"id":"1d5aca2c.3b4ed6","type":"debug","z":"ad33cb97.8079a8","name":"Expression modified","active":false,"console":"false","complete":"payload","x":311,"y":456,"wires":[]},{"id":"86c08fde.b8334","type":"debug","z":"ad33cb97.8079a8","name":"","active":false,"console":"false","complete":"payload","x":287,"y":583,"wires":[]},{"id":"a4af726e.8278","type":"function","z":"ad33cb97.8079a8","name":"jiolal","func":"var filter = global.get(\"filter\");\nmsg.payload = filter;\nreturn msg;","outputs":1,"noerr":0,"x":616,"y":323,"wires":[["e49675cc.e7bf88"]]},{"id":"d2587a8c.60fd88","type":"inject","z":"ad33cb97.8079a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":472,"y":310,"wires":[["a4af726e.8278"]]},{"id":"9a76177e.6ac548","type":"debug","z":"134033fa.c8fdfc","name":"highcharts","active":true,"console":"false","complete":"payload","x":1104.1666564941406,"y":1312.9999828338623,"wires":[]},{"id":"355bc9e2.a11ee6","type":"ui_template","z":"134033fa.c8fdfc","group":"53849b89.4fa1b4","name":"Highcharts","order":7,"width":"0","height":"0","format":"<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width\">\n</head>\n<body>\n<script src=\"https://code.highcharts.com/highcharts.js\"></script>\n<script src=\"https://code.highcharts.com/modules/exporting.js\"></script>\n<div id=\"container\" style=\"min-width: 1500px; height: 450px; margin: 0 auto\"></div>\n<script>\n(function(scope) {\n        scope.$watch('msg.payload', function(dataseries) {\n          \n    Highcharts.chart('container', {\n    chart: {\n        backgroundColor:{\n         linearGradient: { x1: 0, y1: 0, x2: 1, y2: 1 },\n         stops: [\n            [0, '#121212'],\n            [1, '#121212']\n         ]\n      },\n       style: {\n         fontFamily: '\\'Unica One\\', sans-serif'\n      },\n      plotBorderColor: '#606063',\n        type: 'column'\n    },\n    colors: ['#90ee7e', '#f45b5b', '#7798BF', '#aaeeee', '#ff0066', '#eeaaee',\n      '#55BF3B', '#DF5353', '#7798BF', '#aaeeee', '#2b908f'],\n    title: {\n        style: {\n         color: '#E0E0E3',\n      },\n        text: dataseries[3]\n    },\n    subtitle: {\n        style: {\n         color: '#E0E0E3',\n      },\n        text: dataseries[4]\n    },\n    xAxis: {\n        gridLineColor: '#707073',\n      labels: {\n         style: {\n            color: '#E0E0E3',\n            fontSize: '10px'\n         }\n      },\n      lineColor: '#707073',\n      minorGridLineColor: '#505053',\n      tickColor: '#707073',\n      title: {\n         style: {\n            color: '#A0A0A3',\n            fontSize: '10px'\n         }\n      },\n        \n        categories:dataseries[1],\n        crosshair: true\n    },\n    yAxis: {\n        gridLineColor: '#707073',\n      labels: {\n         style: {\n            color: '#E0E0E3',\n            fontSize : '10px'\n         }\n      },\n      lineColor: '#707073',\n      minorGridLineColor: '#505053',\n      tickColor: '#707073',\n      tickWidth: 1,\n      title: {\n          text: 'Average Value',\n         style: {\n            color: '#A0A0A3',\n            fontSize: '12px'\n         }\n      }\n        //min: -10\n    },\n    tooltip: {\n        headerFormat: '<span style=\"font-size:10px\">{point.key}</span><table>',\n        pointFormat: '<tr><td style=\"color:{series.color};padding:0\">{series.name}: </td>' +\n            '<td style=\"padding:0\"><b>{point.y:.1f}'+dataseries[5]+'</b></td></tr>',\n        footerFormat: '</table>',\n        shared: true,\n        useHTML: true,\n        backgroundColor: 'rgba(0, 0, 0, 0.85)',\n      style: {\n         color: '#F0F0F0'\n      }\n    },\n    plotOptions: {\n        column: {\n            pointPadding: 0.2,\n            borderWidth: 0\n        },\n        series: {\n         dataLabels: {\n            color: '#B0B0B3'\n         },\n         marker: {\n            lineColor: '#333'\n         }\n      },\n      boxplot: {\n         fillColor: '#505053'\n      },\n      candlestick: {\n         lineColor: 'white'\n      },\n      errorbar: {\n         color: 'white'\n      }\n    },\n    legend: {\n      itemStyle: {\n         color: '#E0E0E3'\n      },\n      itemHoverStyle: {\n         color: '#FFF'\n      },\n      itemHiddenStyle: {\n         color: '#606063'\n      }\n   },\n   credits: {\n      style: {\n         color: '#666'\n      }\n   },\n   labels: {\n      style: {\n         color: '#707073'\n      }\n   },\n\n    series: [ {\n        name: dataseries[6],\n        data: dataseries[0]\n    }]\n});\n        });\n    })(scope);\n</script>\n\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"x":1104.1666526794434,"y":1232.3334274291992,"wires":[["1252a86.edd6558"]]},{"id":"a6c27572.a47b38","type":"MSSQL","z":"134033fa.c8fdfc","mssqlCN":"9534cec8.3799d","name":"NEST","query":"","outField":"payload","x":747.5302963256836,"y":1205.8940124511719,"wires":[["d039afba.ec8c1","9a10b2e4.040f"]]},{"id":"d039afba.ec8c1","type":"debug","z":"134033fa.c8fdfc","name":"DB data","active":true,"console":"false","complete":"payload","x":894.2576713562012,"y":1191.9546813964844,"wires":[]},{"id":"9a10b2e4.040f","type":"function","z":"134033fa.c8fdfc","name":"Data Converter","func":"var numericID = global.get(\"numericID\") ;\nnumericID = \"NumericID = \"+ numericID;\nvar desc = global.get(\"desc\");\nvar year = global.get(\"year\");\nvar filter = global.get(\"filter\");\nvar StartDate = global.get(\"StartDate\");\nvar EndDate = global.get(\"EndDate\");\nyear = filter+ \" wise value for \"+ desc + \" (\" + numericID  +\")\";\nvar subtitle = \"StartDate = \"+ \"'\"+StartDate + \"'\"+\"  and  EndDate = \"+ \"'\"+EndDate +\"'\"+ \"  Empa NEST\";\nvar unit = global.get(\"unit\");\nvar data = msg.payload;\nvar value = [];\nvar date = [];\nvar monthmap = [\n            'Jan',\n            'Feb',\n            'Mar',\n            'Apr',\n            'May',\n            'Jun',\n            'Jul',\n            'Aug',\n            'Sep',\n            'Oct',\n            'Nov',\n            'Dec'];\n\nfor(var i = 0; i < data.length;i++){\n    value.push(data[i].avg_temp);\n        \n    if(filter == '_month'){\n        date.push(monthmap[data[i]._month-1]);\n    }\n    else if(filter == '_year'){\n        date.push(data[i]._year);\n    }\n    else if(filter == '_week'){\n        date.push(data[i]._week);\n    }\n    else if(filter == '_date'){\n        date.push(data[i]._date);\n    }\n    else if(filter == '_hour'){\n        date.push(data[i]._hour);\n    }\n    else if(filter == '_hourtrend'){\n        date.push(data[i]._hourtrend);\n    }\n}\nmsg.payload = [value,date,numericID,year,subtitle,unit,desc];            \nreturn msg;","outputs":1,"noerr":0,"x":910.8941040039062,"y":1260.9546852111816,"wires":[["9a76177e.6ac548","355bc9e2.a11ee6"]]},{"id":"50707b6.64fa084","type":"ui_button","z":"134033fa.c8fdfc","name":"refresh","group":"78c97882.c8d7d8","order":5,"width":"1","height":"1","passthru":false,"label":"","color":"","bgcolor":"","icon":"cached","payload":"","payloadType":"date","topic":"","x":159,"y":627,"wires":[["7938a55.ce10a5c","4397338d.2f7bbc","790e43e9.64d75c","6214d147.72cb5"]]},{"id":"261c07ac.5f83b8","type":"function","z":"134033fa.c8fdfc","name":"query","func":"\n\nvar numericID = global.get(\"numericID\") ;\nvar year = global.get(\"year\");\nvar StartDate = global.get(\"StartDate\");\nvar EndDate = global.get(\"EndDate\");\nvar filter = global.get(\"filter\");\nvar condition = \"\";\nif (numericID == 3200000){\n    condition = \" AND  TRY_CAST(_VALUE AS FLOAT) < 100 \";\n}\n\n\n\nvar q1 = \"SELECT AVG(avg_value) as avg_temp, \"+filter+\" FROM ( \"+\n\"SELECT  AVG(TRY_CAST(_VALUE as FLOAT)) as avg_value ,DATEPART( year, _TIMESTAMP ) as _year, \"+\n\"DATEPART( month, _TIMESTAMP ) as _month, DATEPART( week, _TIMESTAMP ) as _week, DATEPART( day, _TIMESTAMP ) as _day ,  FORMAT(_TIMESTAMP, 'yyyy-MM-dd') as _date \"+\n\"FROM \"+ \"[NestTest].[dbo].[KepMET51] \"+  \n\"where kepMet51._NUMERICID=\" + numericID + condition +\n\"AND _TIMESTAMP >= '\"+ StartDate + \"' AND _TIMESTAMP <= '\"+ EndDate+\n\"' GROUP BY DATEPART( year, _TIMESTAMP ), DATEPART( month, _TIMESTAMP ) , DATEPART( week, _TIMESTAMP ), DATEPART( day, _TIMESTAMP ), FORMAT(_TIMESTAMP, 'yyyy-MM-dd')) as ID \"+\n\"group by \" ;\n\nif(numericID == 401191000 || numericID == 42100068){\n    if(numericID == 401191000){\n        var db = '[dbo].[KepElEnergy]';\n    }\n    else if(numericID == 42100068 ){\n        db = '[dbo].[KepEnergyUnits]';\n    }\n\tif(filter == '_year'){\n\t\tq1 = \"SELECT  TRY_CAST([_Max] AS FLOAT)-TRY_CAST([_Min] AS FLOAT) as avg_temp, _year from \"+\n  \t\t \"( select  distinct DATEPART( year, _TIMESTAMP ) as _year, \"+\n         \"first_value(_VALUE) over (partition by DATEPART( year, _TIMESTAMP ) order by _TIMESTAMP) as [_Min] \"+\n\t\t \", first_value(_VALUE) over (partition by DATEPART( year, _TIMESTAMP ) order by _TIMESTAMP desc) as [_Max] \"+\n\t\t \" from \"+ db+ \" where _NUMERICID =\" + numericID+\n\t\t \" AND _TIMESTAMP >= '\"+ StartDate + \"' AND _TIMESTAMP <= '\"+ EndDate+ \"'\"+\n\t\t \" AND TRY_CAST(_VALUE AS FLOAT) < 10000000 ) as ID \"+\n\t\t \" order by _year asc\";\n\t}\n\telse if(filter == '_month'){\n\t\tq1 = \"SELECT  TRY_CAST([_Max] AS FLOAT)-TRY_CAST([_Min] AS FLOAT) as avg_temp, _month from \"+\n  \t\t \"( select  distinct DATEPART( month, _TIMESTAMP ) as _month, \"+\n         \"first_value(_VALUE) over (partition by DATEPART( month, _TIMESTAMP ) order by _TIMESTAMP) as [_Min] \"+\n\t\t \", first_value(_VALUE) over (partition by DATEPART( month, _TIMESTAMP ) order by _TIMESTAMP desc) as [_Max] \"+\n\t\t \" from  \"+ db+ \" where _NUMERICID =\" + numericID+\n\t\t \" AND _TIMESTAMP >= '\"+ StartDate + \"' AND _TIMESTAMP <= '\"+ EndDate+ \"'\"+\n\t\t \" AND TRY_CAST(_VALUE AS FLOAT) < 10000000 ) as ID \"+\n\t\t \" order by _month asc\";\n\n\t}\n\telse if(filter == '_week'){\n\t\tq1 = \"SELECT  TRY_CAST([_Max] AS FLOAT)-TRY_CAST([_Min] AS FLOAT) as avg_temp, _week from \"+\n  \t\t \"( select  distinct DATEPART( week, _TIMESTAMP ) as _week, \"+\n         \"first_value(_VALUE) over (partition by DATEPART( week, _TIMESTAMP ) order by _TIMESTAMP) as [_Min] \"+\n\t\t \", first_value(_VALUE) over (partition by DATEPART( week, _TIMESTAMP ) order by _TIMESTAMP desc) as [_Max] \"+\n\t\t \" from \"+ db+ \" where _NUMERICID =\" + numericID+\n\t\t \" AND _TIMESTAMP >= '\"+ StartDate + \"' AND _TIMESTAMP <= '\"+ EndDate+ \"'\"+\n\t\t \" AND TRY_CAST(_VALUE AS FLOAT) < 10000000 ) as ID \"+\n\t\t \" order by _week asc\";\n\n\t}\n\telse if(filter == '_date'){\n\t\tq1 = \"SELECT  TRY_CAST([_Max] AS FLOAT)-TRY_CAST([_Min] AS FLOAT) as avg_temp, _date from \"+\n  \t\t \"( select  distinct FORMAT(_TIMESTAMP, 'yyyy-MM-dd') as _date, \"+\n         \"first_value(_VALUE) over (partition by FORMAT(_TIMESTAMP, 'yyyy-MM-dd') order by _TIMESTAMP) as [_Min] \"+\n\t\t \", first_value(_VALUE) over (partition by FORMAT(_TIMESTAMP, 'yyyy-MM-dd') order by _TIMESTAMP desc) as [_Max] \"+\n\t\t \" from  \"+ db+ \" where _NUMERICID =\" + numericID+\n\t\t \" AND _TIMESTAMP >= '\"+ StartDate + \"' AND _TIMESTAMP <= '\"+ EndDate+ \"'\"+\n\t\t \" AND TRY_CAST(_VALUE AS FLOAT) < 10000000 ) as ID where TRY_CAST([_Max] AS FLOAT)-TRY_CAST([_Min] AS FLOAT) < 5000 \"+\n\t\t \" order by _date asc\";\n\t}\n\telse if(filter == '_hour'){\n\t\tq1 = \"SELECT  TRY_CAST([_Max] AS FLOAT)-TRY_CAST([_Min] AS FLOAT) as avg_temp, _hour from \"+\n  \t\t \"( select  distinct DATEPART( hour, _TIMESTAMP ) as _hour, \"+\n         \"first_value(_VALUE) over (partition by DATEPART( hour, _TIMESTAMP ) order by _TIMESTAMP) as [_Min] \"+\n\t\t \", first_value(_VALUE) over (partition by DATEPART( hour, _TIMESTAMP ) order by _TIMESTAMP desc) as [_Max] \"+\n\t\t \" from  \"+ db+ \" where _NUMERICID =\" + numericID+\n\t\t \" AND _TIMESTAMP >= '\"+ StartDate + \"' AND _TIMESTAMP <= '\"+ EndDate+ \"'\"+\n\t\t \" AND TRY_CAST(_VALUE AS FLOAT) < 10000000 ) as ID \"+\n\t\t \" order by _hour asc\";\n\n\t}\n\telse if(filter == '_hourtrend'){\n\t\tq1 = \"SELECT TRY_CAST([_Max] AS FLOAT)-TRY_CAST([_Min] AS FLOAT) as avg_temp, \"+\n                \" _hourtrend from ( select distinct FORMAT(_TIMESTAMP, 'yyyy-MM-dd HH') as _hourtrend, \"+\n                \" first_value(_VALUE) over (partition by FORMAT(_TIMESTAMP, 'yyyy-MM-dd HH') order by _TIMESTAMP) as [_Min] , \"+\n                \" first_value(_VALUE) over (partition by FORMAT(_TIMESTAMP, 'yyyy-MM-dd HH') order by _TIMESTAMP desc) as [_Max] \"+\n                \" from \"+ db+ \" where _NUMERICID = \"+ numericID +\n                \" AND _TIMESTAMP >= '\"+ StartDate + \"' AND _TIMESTAMP <= '\"+ EndDate+ \"'\"+\n                \" AND TRY_CAST(_VALUE AS FLOAT) < 10000000 ) as ID \"+\n                \" where TRY_CAST([_Max] AS FLOAT)-TRY_CAST([_Min] AS FLOAT) < 5000 \"+\n                \" order by _hourtrend asc\";\n\t}\n}\nelse{\n\tif(filter == '_year'){\n\t\t    q1 = q1 + \" _year order by _year\";\n\t\t}\n\telse if(filter == '_month'){\n\t\t    q1 = q1 + \"_year ,\"+ filter+\" order by _year, _month\";\n\t\t}\n\telse if(filter == '_week'){\n\t\t    q1 = q1 + \"_year , \"+ filter + \" order by _year, _week\";\n\t\t}\n\telse if(filter == '_date'){\n\t\t    q1 = q1 + filter + \" order by _date\";\n\t\t}\n\telse if(filter == '_hour'){\n\t\t    q1 = \"SELECT AVG(avg_value) as avg_temp, _hour FROM \"+\n\t\t \"( SELECT AVG(TRY_CAST(_VALUE as FLOAT)) as avg_value , \"+\n\t\t \"DATEPART( year, _TIMESTAMP ) as _year, \"+ \n\t\t \"DATEPART( month, _TIMESTAMP ) as _month, \"+\n\t\t  \"DATEPART( week, _TIMESTAMP ) as _week, \"+ \n\t\t  \"DATEPART( day, _TIMESTAMP ) as _day , \"+\n\t\t   \"DATEPART( hour, _TIMESTAMP ) as _hour \"+\n\t\t  \"FROM [NestTest].[dbo].[KepMET51] \"+\n\t\t  \"where kepMet51._NUMERICID= \" + numericID + condition +\n\t\t   \"AND _TIMESTAMP >=  '\"+ StartDate + \"' AND _TIMESTAMP <= '\"+ EndDate+\n\t\t   \"' GROUP BY DATEPART( year, _TIMESTAMP ), DATEPART( month, _TIMESTAMP ) , \"+\n\t\t   \"DATEPART( week, _TIMESTAMP ), \"+\n\t\t   \"DATEPART( day, _TIMESTAMP ), \"+\n\t\t   \"DATEPART( hour, _TIMESTAMP )) as ID \"+\n\t\t \"group by _hour order by _hour\";\n\t\t}\n\telse if(filter == '_hourtrend'){\n\t\t    q1 = \"SELECT AVG(TRY_CAST(_VALUE as FLOAT)) as avg_temp , \"+\n\t\t  \"FORMAT(_TIMESTAMP, 'yyyy-MM-dd HH') as _hourtrend \"+\n\t\t  \"FROM [NestTest].[dbo].[KepMET51] \"+\n\t\t  \"where kepMet51._NUMERICID= \" + numericID + condition +\n\t\t   \"AND _TIMESTAMP >=  '\"+ StartDate + \"' AND _TIMESTAMP <= '\"+ EndDate+\n\t\t   \"'GROUP BY \"+ \n\t\t   \"FORMAT(_TIMESTAMP, 'yyyy-MM-dd HH') order by FORMAT(_TIMESTAMP, 'yyyy-MM-dd HH') \";\n\t\t}\n}\n\nmsg.payload = q1;\nreturn msg;","outputs":1,"noerr":0,"x":582.2880268096924,"y":1155.2730388641357,"wires":[["a6c27572.a47b38","2dd9ca1f.73e546"]]},{"id":"2dd9ca1f.73e546","type":"debug","z":"134033fa.c8fdfc","name":"queryyyyy","active":true,"console":"false","complete":"payload","x":750.3334407806396,"y":1144.0303192138672,"wires":[]},{"id":"c5b69583.c10428","type":"ui_date_picker","z":"134033fa.c8fdfc","name":"StartDate","label":"StartDate","group":"b45303cc.ce698","order":2,"width":"6","height":"1","passthru":true,"topic":"Date","x":621,"y":106,"wires":[["dfa7c393.15a28"]]},{"id":"d356853e.18e268","type":"ui_date_picker","z":"134033fa.c8fdfc","name":"EndDate","label":"EndDate","group":"b45303cc.ce698","order":3,"width":"6","height":"1","passthru":true,"topic":"Date","x":620,"y":165,"wires":[["582024ff.b0620c"]]},{"id":"dfa7c393.15a28","type":"function","z":"134033fa.c8fdfc","name":"StartDate","func":"var date = new Date(msg.payload);\nmsg.payload = date.toISOString().slice(0,10).replace(/-/g,\"-\");\nglobal.set(\"StartDate\",msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"x":767,"y":110,"wires":[[]]},{"id":"582024ff.b0620c","type":"function","z":"134033fa.c8fdfc","name":"EndDate","func":"\nvar date = new Date(msg.payload);\nmsg.payload = date.toISOString().slice(0,10).replace(/-/g,\"-\");\nglobal.set(\"EndDate\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":765,"y":172,"wires":[["d7554692.0be818"]]},{"id":"d7554692.0be818","type":"debug","z":"134033fa.c8fdfc","name":"Date","active":false,"console":"false","complete":"payload","x":909,"y":173,"wires":[]},{"id":"f486dc2.9481d2","type":"debug","z":"134033fa.c8fdfc","name":"filter","active":true,"console":"false","complete":"payload","x":844,"y":489,"wires":[]},{"id":"fcb6ed2d.3708d","type":"ui_button","z":"134033fa.c8fdfc","name":"HOUR TREND","group":"b45303cc.ce698","order":0,"width":"3","height":"1","passthru":false,"label":"Hour Trend","color":"","bgcolor":"","icon":"","payload":"_hourtrend","payloadType":"str","topic":"","x":828,"y":360,"wires":[["cbd98295.9d348"]]},{"id":"c1b63df6.94fe3","type":"function","z":"134033fa.c8fdfc","name":"live_data_query","func":"var numericID = global.get(\"numericID\");\nif(numericID == 401191000 || numericID == 42100068 ){\n    if(numericID == 401191000){\n        var db = '[dbo].[KepElEnergy]';\n    }\n    else if(numericID == 42100068 ){\n        db = '[dbo].[KepEnergyUnits]';\n    }\n    var q1 = \"SELECT  TRY_CAST([_Max] AS FLOAT)-TRY_CAST([_Min] AS FLOAT) as avg_temp, _hour from \"+\n  \t\t \" ( select  distinct DATEPART( hour, _TIMESTAMP ) as _hour, \"+\n         \" first_value(_VALUE) over (partition by DATEPART( hour, _TIMESTAMP ) order by _TIMESTAMP) as [_Min] \"+\n\t\t \", first_value(_VALUE) over (partition by DATEPART( hour, _TIMESTAMP ) order by _TIMESTAMP desc) as [_Max] \"+\n\t\t \" from  \" + db + \" where _NUMERICID =\" + numericID+\n\t\t \" AND _TIMESTAMP >= CONVERT (date, GETDATE()) AND TRY_CAST(_VALUE AS FLOAT) < 10000000  ) as ID \"+\n\t\t \" order by _hour asc\";\n}\nelse{\n  var q1 = \"SELECT AVG(TRY_CAST(_VALUE as FLOAT)) as avg_temp  , DATEPART( hour, _TIMESTAMP ) as _hour  from  [NestTest].[dbo].[KepMET51] \"+\n          \"where _TIMESTAMP >= CONVERT (date, GETDATE())  AND \"+\n           \"kepMet51._NUMERICID= \"+ numericID +\n          \" AND TRY_CAST(_VALUE AS FLOAT) < 100 \"+\n          \"group by  DATEPART( hour, _TIMESTAMP ) order by _hour asc\";  \n}\n \nmsg.payload = q1;\nreturn msg;","outputs":1,"noerr":0,"x":586.6364707946777,"y":901.3636379241943,"wires":[["baf0f729.851758","22d9106d.8a23e"]]},{"id":"8ac487a7.c22688","type":"debug","z":"134033fa.c8fdfc","name":"Live data","active":true,"console":"false","complete":"payload","x":946.9091529846191,"y":914.7273082733154,"wires":[]},{"id":"2e0e58fd.cac708","type":"function","z":"134033fa.c8fdfc","name":"Data Converter","func":"var numericID2 = global.get(\"numericID\");\nvar desc = global.get(\"desc\");\nvar today = (new Date()).toISOString().slice(0,10).replace(/-/g,\"-\");\nvar year = \"Hourly Live Data for \"+ desc +\" for today\";\nvar data = msg.payload;\nvar unit = global.get(\"unit\");\nmsg.paylaod = [];\nvar value = []\nvar date = []\nfor(var i = 0; i < data.length;i++){\n    value.push(data[i].avg_temp);\n    date.push(data[i]._hour);\n}\n    \n\n        \nmsg.payload = [value,date,numericID2,year,desc, today, unit];\n\nreturn msg;","outputs":1,"noerr":0,"x":969.6364135742188,"y":978.4545593261719,"wires":[["14f58d02.f1ec53","6dc75dd.4b62da4"]]},{"id":"14f58d02.f1ec53","type":"debug","z":"134033fa.c8fdfc","name":"live highcharts","active":true,"console":"false","complete":"payload","x":1210.7273483276367,"y":1055.3636417388916,"wires":[]},{"id":"baf0f729.851758","type":"MSSQL","z":"134033fa.c8fdfc","mssqlCN":"9534cec8.3799d","name":"NEST","query":"","outField":"payload","x":780.1818923950195,"y":912.6364116668701,"wires":[["8ac487a7.c22688","2e0e58fd.cac708"]]},{"id":"6dc75dd.4b62da4","type":"ui_template","z":"134033fa.c8fdfc","group":"16b4424d.dddb6e","name":"live charts","order":3,"width":"12","height":"5","format":"<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width\">\n</head>\n<body>\n<script src=\"https://code.highcharts.com/highcharts.js\"></script>\n<script src=\"https://code.highcharts.com/modules/exporting.js\"></script>\n<div id=\"container2\" style=\"min-width: 550px; height: 240px; margin: 0 auto\"></div>\n<script>\n(function(scope) {\n        scope.$watch('msg.payload', function(dataseries) {\n            \n    Highcharts.chart('container2', {\n    chart: {\n        backgroundColor: {\n         linearGradient: { x1: 0, y1: 0, x2: 1, y2: 1 },\n         stops: [\n            [0, '#121212'],\n            [1, '#121212']\n         ]\n      },\n        type: 'line'\n    },\n    title: {\n        style: {\n         color: '#E0E0E3',\n      },\n        text: dataseries[3]\n    },\n    colors: ['#90ee7e', '#f45b5b', '#7798BF', '#aaeeee', '#ff0066', '#eeaaee',\n      '#55BF3B', '#DF5353', '#7798BF', '#aaeeee', '#2b908f'],\n    subtitle: {\n        style: {\n         color: '#E0E0E3',\n      },\n        text:  \"Today = \" + \"'\" + dataseries[5] + \"'\" + \" Empa NEST\"\n    },\n    xAxis: {\n        gridLineColor: '#707073',\n      labels: {\n         style: {\n            color: '#E0E0E3',\n            fontSize: '10px'\n         }\n      },\n      lineColor: '#707073',\n      minorGridLineColor: '#505053',\n      tickColor: '#707073',\n      title: {\n         style: {\n            color: '#A0A0A3',\n            fontSize: '10px'\n         }\n      },\n        categories:dataseries[1],\n        crosshair: true\n    },\n    yAxis: {\n        title: {\n            text: 'Average Value',\n            style: {\n            color: '#A0A0A3',\n            fontSize: '12px'\n         }\n        }\n    },\n    tooltip: {\n        headerFormat: '<span style=\"font-size:10px\">{point.key}</span><table>',\n        pointFormat: '<tr><td style=\"color:{series.color};padding:0\">{series.name}: </td>' +\n            '<td style=\"padding:0\"><b>{point.y:.1f} '+dataseries[6]+'</b></td></tr>',\n        footerFormat: '</table>',\n        shared: true,\n        useHTML: true,\n        backgroundColor: 'rgba(0, 0, 0, 0.85)',\n      style: {\n         color: '#F0F0F0'\n      }\n    },\n    plotOptions: {\n        column: {\n            pointPadding: 0.2,\n            borderWidth: 0\n        }\n    },\n     legend: {\n      itemStyle: {\n         color: '#E0E0E3'\n      },\n      itemHoverStyle: {\n         color: '#FFF'\n      },\n      itemHiddenStyle: {\n         color: '#606063'\n      }\n   },\n    series: [ {\n        name: dataseries[4],\n        data: dataseries[0]\n    }]\n});\n        });\n    })(scope);\n</script>\n\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"x":1194.7273483276367,"y":984.3636417388916,"wires":[[]]},{"id":"1252a86.edd6558","type":"debug","z":"134033fa.c8fdfc","name":"","active":true,"console":"false","complete":"false","x":1263.9091033935547,"y":1252.9243698120117,"wires":[]},{"id":"22d9106d.8a23e","type":"debug","z":"134033fa.c8fdfc","name":"qyery live","active":true,"console":"false","complete":"payload","x":956.2728061676025,"y":870.8182201385498,"wires":[]},{"id":"e615c99e.5a2cc8","type":"debug","z":"cec03951.a6d398","name":"highcharts","active":false,"console":"false","complete":"payload","x":1243.6667823791504,"y":642.1112079620361,"wires":[]},{"id":"6e546d3a.89f5b4","type":"MSSQL","z":"cec03951.a6d398","mssqlCN":"9534cec8.3799d","name":"NEST","query":"","outField":"payload","x":843.3333549499512,"y":583.3335590362549,"wires":[["18467fc1.519be","ac0899c2.f4d2f8"]]},{"id":"ac0899c2.f4d2f8","type":"function","z":"cec03951.a6d398","name":"Data Converter","func":"var numericID = [3200000, 3200002, 3200003, 3200004, 3200008];\nvar desc = ['ambient temperature', 'relative humidity', 'absolute air pressure', 'wind speed' , 'global solar radiation'];\n\nvar filter = global.get(\"filter\");\nvar year = filter +\" wise value for Weather Station\";\nvar StartDate = global.get(\"StartDate2\");\nvar EndDate = global.get(\"EndDate2\");\nvar subtitle = \"StartDate = \"+ \"'\"+StartDate + \"'\"+\"  and  EndDate = \"+ \"'\"+EndDate +\"'\"+ \"  Empa NEST\";\nvar data = msg.payload;\nvar value0 = [];\nvar value1 =[];\nvar value2 = [];\nvar value3 = [];\nvar value4 = [];\nvar date = [];\nvar monthmap = [\n            'Jan',\n            'Feb',\n            'Mar',\n            'Apr',\n            'May',\n            'Jun',\n            'Jul',\n            'Aug',\n            'Sep',\n            'Oct',\n            'Nov',\n            'Dec'];\n\nfor(var i = 0; i < data.length;i++){\n    value0.push(data[i].avg_3200000);\n    value1.push(data[i].avg_3200002);\n    value2.push(data[i].avg_3200003);\n    value3.push(data[i].avg_3200004);\n    value4.push(data[i].avg_3200008);\n        \n    if(filter == '_month'){\n        date.push(monthmap[data[i]._date-1]);\n    }\n    else if(filter == '_year'){\n        date.push(data[i]._date);\n    }\n    else if(filter == '_week'){\n        date.push(data[i]._date);\n    }\n    else if(filter == '_date'){\n        date.push(data[i]._date);\n    }\n    else if(filter == '_hour'){\n        date.push(data[i]._date);\n    }\n    else if(filter == '_hourtrend'){\n        date.push(data[i]._date);\n    }\n}\nmsg.payload = [value0,date,numericID,year, value1,value2,value3,value4, subtitle, desc];            \nreturn msg;","outputs":1,"noerr":0,"x":1049.2222900390625,"y":613.333417892456,"wires":[["e615c99e.5a2cc8","10a015c0.e952fa"]]},{"id":"18467fc1.519be","type":"debug","z":"cec03951.a6d398","name":"queryyyyy","active":true,"console":"false","complete":"payload","x":1032.4444999694824,"y":542.2222537994385,"wires":[]},{"id":"eee6d900.5224c8","type":"debug","z":"cec03951.a6d398","name":"linecolumnchart","active":false,"console":"false","complete":"payload","x":1420.0001373291016,"y":584.7778606414795,"wires":[]},{"id":"9e8d076e.83eba8","type":"ui_button","z":"cec03951.a6d398","name":"Refresh","group":"b98919d9.73de08","order":3,"width":"1","height":"1","passthru":false,"label":"","color":"","bgcolor":"","icon":"cached","payload":"1","payloadType":"global","topic":"press","x":226.11119079589844,"y":605.777834892273,"wires":[["c9d91904.724998","e522719d.ca358","b81f377.c43b4c8","8c296c7.7dfd29","80b230f2.02421","b112e2fa.a24a6"]]},{"id":"10a015c0.e952fa","type":"ui_template","z":"cec03951.a6d398","group":"17f52cb8.1a3383","name":"linecolumn","order":4,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width\">\n</head>\n<body>\n<script src=\"https://code.highcharts.com/highcharts.js\"></script>\n<script src=\"https://code.highcharts.com/modules/exporting.js\"></script>\n<div id=\"container\" style=\"min-width: 1400px; height: 600px; margin: 0 auto\"></div>\n<script>\n(function(scope) {\n        scope.$watch('msg.payload', function(dataseries) {\n          \n    Highcharts.chart('container', {\n    chart: {\n        backgroundColor:{\n         linearGradient: { x1: 0, y1: 0, x2: 1, y2: 1 },\n         stops: [\n            [0, '#121212'],\n            [1, '#121212']\n         ],\n      },\n       style: {\n         fontFamily: '\\'Unica One\\', sans-serif'\n      },\n      plotBorderColor: '#606063'\n    },\n    colors: ['#90ee7e', '#f45b5b', '#7798BF', '#aaeeee', '#ff0066', '#eeaaee',\n      '#55BF3B', '#DF5353', '#7798BF', '#aaeeee', '#2b908f'],\n    title: {\n        style: {\n         color: '#E0E0E3',\n      },\n        text: dataseries[3]\n    },\n    subtitle: {\n        style: {\n         color: '#E0E0E3',\n      },\n        text: dataseries[8]\n    },\n    xAxis: [{\n        categories:dataseries[1],\n        crosshair: true,\n        labels: {\n         style: {\n            color: '#E0E0E3',\n            fontSize: '10px'\n         }\n      }\n    }],\n    yAxis: [{ // Primary yAxis\n        labels: {\n            format: '{value}',\n            style: {\n                color: '#E0E0E3'\n            }\n        },\n        title: {\n            text: 'Y1 Axis',\n            style: {\n                color:  '#E0E0E3'\n            }\n        },\n        lineColor: '#707073',\n        gridLineColor: '#707073',\n      tickColor: '#707073',\n      tickWidth: 0.5\n    }, { // Secondary yAxis\n        title: {\n            text: 'Y2 Axis',\n            style: {\n                color: Highcharts.getOptions().colors[0]\n            }\n        },\n        labels: {\n            format: '{value}',\n            style: {\n                color: Highcharts.getOptions().colors[0]\n            }\n        },\n        opposite: true,\n        gridLineColor: '#707073',\n        lineColor: '#707073',\n      tickColor: '#707073',\n      tickWidth: 0.5\n    }],\n    tooltip: {\n        shared: true\n    },\n    legend: {\n      itemStyle: {\n         color: '#E0E0E3'\n      },\n      itemHoverStyle: {\n         color: '#FFF'\n      },\n      itemHiddenStyle: {\n         color: '#606063'\n      }\n   },\n    series: [\n    {\n        name: dataseries[9][0],\n        yAxis: 1,\n        data: dataseries[0],\n        tooltip: {\n            valueSuffix: ' °C'\n        }\n\n    }, {\n        name: dataseries[9][3],\n        yAxis: 1,\n        data: dataseries[6],\n        tooltip: {\n            valueSuffix: ' m/s'\n        }\n    },\n    {\n        name: dataseries[9][1],\n        yAxis: 1,\n        data: dataseries[4],\n        tooltip: {\n            valueSuffix: ' °r.F.'\n        }\n    },\n    {\n        name: dataseries[9][2],\n        yAxis: 0,\n        data: dataseries[5],\n        tooltip: {\n            valueSuffix:' hPa'\n        }\n    },\n    {\n        name: dataseries[9][4],\n        yAxis: 0,\n        data: dataseries[7],\n        tooltip: {\n            valueSuffix: ' W/m^2'\n        }\n    }]\n});\n        });\n    })(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"x":1242.4443969726562,"y":584.1112213134766,"wires":[["eee6d900.5224c8"]]},{"id":"c9d91904.724998","type":"function","z":"cec03951.a6d398","name":"function","func":"var numericID = global.get(\"numericID\");\nvar StartDate = global.get(\"StartDate2\");\nvar EndDate = global.get(\"EndDate2\");\nvar filter = global.get(\"filter\");\nvar filter_select = \"FORMAT(_TIMESTAMP, 'yyyy-MM-dd')\";\nif (filter == \"_year\"){\n    filter_select = \"DATEPART( year, _TIMESTAMP )\";\n}\nelse if(filter == \"_month\"){\n    filter_select = \"DATEPART( month, _TIMESTAMP )\";\n}\nelse if(filter == \"_date\"){\n    filter_select = \"FORMAT(_TIMESTAMP, 'yyyy-MM-dd')\";\n}\nelse if(filter == \"_week\"){\n    filter_select = \"DATEPART( week, _TIMESTAMP )\";\n}\nelse if(filter == \"_hour\"){\n    filter_select = \"DATEPART( hour, _TIMESTAMP )\";\n}\nelse if(filter == \"_hourtrend\"){\n    filter_select = \"FORMAT(_TIMESTAMP, 'yyyy-MM-dd HH')\";\n}\npld=            \"SELECT \" + filter_select + \" as _date, \" ;\npld= pld +      \"ROUND(AVG(CASE when _NUMERICID = 3200000 AND TRY_CAST(_VALUE AS FLOAT) < 100 THEN TRY_CAST(_VALUE AS FLOAT) END),2) as avg_3200000, \";\npld= pld +      \"ROUND(AVG(CASE when _NUMERICID = 3200002  THEN TRY_CAST(_VALUE AS FLOAT) END),2) as avg_3200002, \";\npld= pld +      \"ROUND(AVG(CASE when _NUMERICID = 3200003  THEN TRY_CAST(_VALUE AS FLOAT) END),2) as avg_3200003, \";\npld= pld +      \"ROUND(AVG(CASE when _NUMERICID = 3200004  THEN TRY_CAST(_VALUE AS FLOAT) END),2) as avg_3200004, \";\npld= pld +      \"ROUND(AVG(CASE when _NUMERICID = 3200008  THEN TRY_CAST(_VALUE AS FLOAT) END),2) as avg_3200008 \";\npld= pld +      \"FROM [NestTest].[dbo].[KepMET51] \";\npld= pld +      \"where _Timestamp >= '\"+ StartDate + \"' AND _Timestamp <= '\"+ EndDate + \"' \" ;\npld= pld +      \"GROUP BY \" + filter_select ;\npld= pld +      \" order by _date \";\nmsg.payload = pld;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":655.0556564331055,"y":624.6667289733887,"wires":[["6e546d3a.89f5b4","2e187edc.1cd4b2"]]},{"id":"da790192.933d9","type":"ui_date_picker","z":"cec03951.a6d398","name":"StartDate","label":"StartDate","group":"b98919d9.73de08","order":1,"width":"5","height":"1","passthru":true,"topic":"Date","x":636.4444618225098,"y":123.55557012557983,"wires":[["9cfa213b.7582e"]]},{"id":"dafe054e.dfe7f8","type":"ui_date_picker","z":"cec03951.a6d398","name":"EndDate","label":"EndDate","group":"b98919d9.73de08","order":2,"width":"5","height":"1","passthru":true,"topic":"Date","x":640.1111450195312,"y":164.55556678771973,"wires":[["6d86052c.4ac93c"]]},{"id":"9cfa213b.7582e","type":"function","z":"cec03951.a6d398","name":"StartDate","func":"var date = new Date(msg.payload);\nmsg.payload = date.toISOString().slice(0,10).replace(/-/g,\"-\");\nglobal.set(\"StartDate2\",msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"x":802.5555877685547,"y":119.66668224334717,"wires":[["8e7b0853.2d86d8"]]},{"id":"6d86052c.4ac93c","type":"function","z":"cec03951.a6d398","name":"EndDate","func":"\nvar date = new Date(msg.payload);\nmsg.payload = date.toISOString().slice(0,10).replace(/-/g,\"-\");\nglobal.set(\"EndDate2\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":803.4444618225098,"y":169.55557012557983,"wires":[[]]},{"id":"bae51bf1.8504d8","type":"inject","z":"cec03951.a6d398","name":"","topic":"Select","payload":"SELECT TOP (10000) [_VALUE],[_TIMESTAMP] FROM [NestTest].[dbo].[KepMET51]","payloadType":"str","repeat":"","crontab":"","once":false,"x":729.1112594604492,"y":538.2223167419434,"wires":[["6e546d3a.89f5b4"]]},{"id":"4749cf67.9917d","type":"ui_button","z":"cec03951.a6d398","name":"date","group":"b98919d9.73de08","order":8,"width":"3","height":"1","passthru":false,"label":"Date","color":"","bgcolor":"","icon":"","payload":"_date","payloadType":"str","topic":"","x":609.1111717224121,"y":266.88891887664795,"wires":[["b1a7a70e.0d6b08"]]},{"id":"b1a7a70e.0d6b08","type":"function","z":"cec03951.a6d398","name":"Filter","func":"global.set(\"filter\",msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"x":633.1111717224121,"y":365.88891887664795,"wires":[["4b7f933f.86456c","c9d91904.724998"]]},{"id":"4b7f933f.86456c","type":"debug","z":"cec03951.a6d398","name":"filter","active":true,"console":"false","complete":"payload","x":785.1111717224121,"y":346.88891887664795,"wires":[]},{"id":"d119f045.9498c","type":"ui_button","z":"cec03951.a6d398","name":"year","group":"b98919d9.73de08","order":5,"width":"3","height":"1","passthru":false,"label":"Year","color":"","bgcolor":"","icon":"","payload":"_year","payloadType":"str","topic":"","x":219.44451522827148,"y":264.222243309021,"wires":[["b1a7a70e.0d6b08"]]},{"id":"d9c34a91.73a728","type":"ui_button","z":"cec03951.a6d398","name":"month","group":"b98919d9.73de08","order":6,"width":"3","height":"1","passthru":false,"label":"Month","color":"","bgcolor":"","icon":"","payload":"_month","payloadType":"str","topic":"","x":352.1111717224121,"y":263.88891887664795,"wires":[["b1a7a70e.0d6b08"]]},{"id":"7f8b34f0.3a1b9c","type":"ui_button","z":"cec03951.a6d398","name":"week","group":"b98919d9.73de08","order":7,"width":"3","height":"1","passthru":false,"label":"Week","color":"","bgcolor":"","icon":"","payload":"_week","payloadType":"str","topic":"","x":485.1111717224121,"y":265.88891887664795,"wires":[["b1a7a70e.0d6b08"]]},{"id":"cc7c52b.6ce47b","type":"ui_button","z":"cec03951.a6d398","name":"hour","group":"b98919d9.73de08","order":9,"width":"3","height":"1","passthru":false,"label":"hour","color":"","bgcolor":"","icon":"","payload":"_hour","payloadType":"str","topic":"","x":744.1111717224121,"y":265.88891887664795,"wires":[["b1a7a70e.0d6b08"]]},{"id":"47e73649.eb6848","type":"ui_button","z":"cec03951.a6d398","name":"Hour Trend","group":"b98919d9.73de08","order":10,"width":"3","height":"1","passthru":false,"label":"Hour Trend","color":"","bgcolor":"","icon":"","payload":"_hourtrend","payloadType":"str","topic":"","x":908.3333473205566,"y":267.3333492279053,"wires":[["b1a7a70e.0d6b08"]]},{"id":"3b27a313.4df1ac","type":"ui_button","z":"cec03951.a6d398","name":"Download","group":"b98919d9.73de08","order":4,"width":"1","height":"1","passthru":false,"label":"","color":"","bgcolor":"","icon":"fa-arrow-down","payload":"","payloadType":"str","topic":"","x":228.2223129272461,"y":556.444408416748,"wires":[[]]},{"id":"2e187edc.1cd4b2","type":"debug","z":"cec03951.a6d398","name":"","active":true,"console":"false","complete":"false","x":851.4445343017578,"y":676.6667098999023,"wires":[]},{"id":"8b12c082.bcd03","type":"MSSQL","z":"134033fa.c8fdfc","mssqlCN":"9534cec8.3799d","name":"NEST","query":"","outField":"payload","x":757,"y":626,"wires":[["f4dba79a.7eb7e8","d7d04d7c.5e9b"]]},{"id":"7938a55.ce10a5c","type":"function","z":"134033fa.c8fdfc","name":"getting unit","func":"var numericID = global.get(\"numericID\") ;\n//var query = \"SELECT Datapoint_Unit from [NestTest].[Dim].[DimDimension] where _NUMERICID=\"+ numericID ;\nvar query;\nquery = \"SELECT Datapoint_Unit from [NestTest].[Dim].[DimDimension] where _NUMERICID=\"+ numericID ;\nmsg.payload = query;\nreturn msg;\n","outputs":1,"noerr":0,"x":389,"y":629,"wires":[["8b12c082.bcd03"]]},{"id":"f4dba79a.7eb7e8","type":"debug","z":"134033fa.c8fdfc","name":"label","active":true,"console":"false","complete":"payload","x":941,"y":667,"wires":[]},{"id":"d7d04d7c.5e9b","type":"function","z":"134033fa.c8fdfc","name":"setting unit","func":"global.set(\"unit\",msg.payload[0].Datapoint_Unit);\n","outputs":1,"noerr":0,"x":955,"y":599,"wires":[[]]},{"id":"8e7b0853.2d86d8","type":"debug","z":"cec03951.a6d398","name":"date","active":true,"console":"false","complete":"payload","x":941.4444427490234,"y":115.44445419311523,"wires":[]},{"id":"b420d81e.1b5fc8","type":"template","z":"134033fa.c8fdfc","name":"CSS","field":"payload.style","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/**\n * (c) 2010-2017 Torstein Honsi\n *\n * License: www.highcharts.com/license\n * \n * Dark theme for Highcharts JS\n * @author Torstein Honsi\n */\n\n'use strict';\n/* global document */\n// Load the fonts\nimport Highcharts from '../parts/Globals.js';\nHighcharts.createElement('link', {\n   href: 'https://fonts.googleapis.com/css?family=Unica+One',\n   rel: 'stylesheet',\n   type: 'text/css'\n}, null, document.getElementsByTagName('head')[0]);\n\nHighcharts.theme = {\n   colors: ['#2b908f', '#90ee7e', '#f45b5b', '#7798BF', '#aaeeee', '#ff0066', '#eeaaee',\n      '#55BF3B', '#DF5353', '#7798BF', '#aaeeee'],\n   chart: {\n      backgroundColor: {\n         linearGradient: { x1: 0, y1: 0, x2: 1, y2: 1 },\n         stops: [\n            [0, '#2a2a2b'],\n            [1, '#3e3e40']\n         ]\n      },\n      style: {\n         fontFamily: '\\'Unica One\\', sans-serif'\n      },\n      plotBorderColor: '#606063'\n   },\n   title: {\n      style: {\n         color: '#E0E0E3',\n         textTransform: 'uppercase',\n         fontSize: '20px'\n      }\n   },\n   subtitle: {\n      style: {\n         color: '#E0E0E3',\n         textTransform: 'uppercase'\n      }\n   },\n   xAxis: {\n      gridLineColor: '#707073',\n      labels: {\n         style: {\n            color: '#E0E0E3'\n         }\n      },\n      lineColor: '#707073',\n      minorGridLineColor: '#505053',\n      tickColor: '#707073',\n      title: {\n         style: {\n            color: '#A0A0A3'\n\n         }\n      }\n   },\n   yAxis: {\n      gridLineColor: '#707073',\n      labels: {\n         style: {\n            color: '#E0E0E3'\n         }\n      },\n      lineColor: '#707073',\n      minorGridLineColor: '#505053',\n      tickColor: '#707073',\n      tickWidth: 1,\n      title: {\n         style: {\n            color: '#A0A0A3'\n         }\n      }\n   },\n   tooltip: {\n      backgroundColor: 'rgba(0, 0, 0, 0.85)',\n      style: {\n         color: '#F0F0F0'\n      }\n   },\n   plotOptions: {\n      series: {\n         dataLabels: {\n            color: '#B0B0B3'\n         },\n         marker: {\n            lineColor: '#333'\n         }\n      },\n      boxplot: {\n         fillColor: '#505053'\n      },\n      candlestick: {\n         lineColor: 'white'\n      },\n      errorbar: {\n         color: 'white'\n      }\n   },\n   legend: {\n      itemStyle: {\n         color: '#E0E0E3'\n      },\n      itemHoverStyle: {\n         color: '#FFF'\n      },\n      itemHiddenStyle: {\n         color: '#606063'\n      }\n   },\n   credits: {\n      style: {\n         color: '#666'\n      }\n   },\n   labels: {\n      style: {\n         color: '#707073'\n      }\n   },\n\n   drilldown: {\n      activeAxisLabelStyle: {\n         color: '#F0F0F3'\n      },\n      activeDataLabelStyle: {\n         color: '#F0F0F3'\n      }\n   },\n\n   navigation: {\n      buttonOptions: {\n         symbolStroke: '#DDDDDD',\n         theme: {\n            fill: '#505053'\n         }\n      }\n   },\n\n   // scroll charts\n   rangeSelector: {\n      buttonTheme: {\n         fill: '#505053',\n         stroke: '#000000',\n         style: {\n            color: '#CCC'\n         },\n         states: {\n            hover: {\n               fill: '#707073',\n               stroke: '#000000',\n               style: {\n                  color: 'white'\n               }\n            },\n            select: {\n               fill: '#000003',\n               stroke: '#000000',\n               style: {\n                  color: 'white'\n               }\n            }\n         }\n      },\n      inputBoxBorderColor: '#505053',\n      inputStyle: {\n         backgroundColor: '#333',\n         color: 'silver'\n      },\n      labelStyle: {\n         color: 'silver'\n      }\n   },\n\n   navigator: {\n      handles: {\n         backgroundColor: '#666',\n         borderColor: '#AAA'\n      },\n      outlineColor: '#CCC',\n      maskFill: 'rgba(255,255,255,0.1)',\n      series: {\n         color: '#7798BF',\n         lineColor: '#A6C7ED'\n      },\n      xAxis: {\n         gridLineColor: '#505053'\n      }\n   },\n\n   scrollbar: {\n      barBackgroundColor: '#808083',\n      barBorderColor: '#808083',\n      buttonArrowColor: '#CCC',\n      buttonBackgroundColor: '#606063',\n      buttonBorderColor: '#606063',\n      rifleColor: '#FFF',\n      trackBackgroundColor: '#404043',\n      trackBorderColor: '#404043'\n   },\n\n   // special colors for some of the\n   legendBackgroundColor: 'rgba(0, 0, 0, 0.5)',\n   background2: '#505053',\n   dataLabelsColor: '#B0B0B3',\n   textColor: '#C0C0C0',\n   contrastTextColor: '#F0F0F3',\n   maskColor: 'rgba(255,255,255,0.3)'\n};\n\n// Apply the theme\nHighcharts.setOptions(Highcharts.theme);","x":1211.7273406982422,"y":920.3636407852173,"wires":[["6dc75dd.4b62da4","8394aa48.69cb88"]]},{"id":"8394aa48.69cb88","type":"debug","z":"134033fa.c8fdfc","name":"CSS","active":true,"console":"false","complete":"payload","x":1323.8184032440186,"y":870.469729423523,"wires":[]},{"id":"4397338d.2f7bbc","type":"delay","z":"134033fa.c8fdfc","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":406.0000648498535,"y":902.9999990463257,"wires":[["c1b63df6.94fe3"]]},{"id":"561f7f7e.05b1c","type":"function","z":"134033fa.c8fdfc","name":"description query","func":"var numericID = global.get(\"numericID\") ;\nvar query = \"SELECT Datapoint_SignalDescription from \" +\n            \" [NestTest].[DimEN].[DimEnDimension] where _NUMERICID = \" + numericID;\nmsg.payload = query;\nreturn msg;","outputs":1,"noerr":0,"x":592.9999923706055,"y":734.0000019073486,"wires":[["eac55bb7.026618"]]},{"id":"790e43e9.64d75c","type":"delay","z":"134033fa.c8fdfc","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":400.00001525878906,"y":738,"wires":[["561f7f7e.05b1c"]]},{"id":"eac55bb7.026618","type":"MSSQL","z":"134033fa.c8fdfc","mssqlCN":"9534cec8.3799d","name":"NEST","query":"","outField":"payload","x":765.0000038146973,"y":739.0000019073486,"wires":[["d35d1331.d2b54","29f75dd9.a4c2a2"]]},{"id":"d35d1331.d2b54","type":"function","z":"134033fa.c8fdfc","name":"setting description","func":"var desc;\nvar numericID =  global.get(\"numericID\");\nif(numericID == '000' ){\n     desc = 'None';\n} else{\n    desc =  msg.payload[0].Datapoint_SignalDescription; \n}\nglobal.set(\"desc\",desc);\n","outputs":1,"noerr":0,"x":976.0000152587891,"y":727.0000019073486,"wires":[[]]},{"id":"29f75dd9.a4c2a2","type":"debug","z":"134033fa.c8fdfc","name":"description","active":true,"console":"false","complete":"payload","x":954.0000114440918,"y":791.0000076293945,"wires":[]},{"id":"2bc0f91a.21fee6","type":"function","z":"134033fa.c8fdfc","name":"NumericID Filter","func":"global.set(\"numericID\",msg.payload);\n","outputs":1,"noerr":0,"x":365,"y":113,"wires":[[]]},{"id":"f016204b.ec618","type":"ui_dropdown","z":"134033fa.c8fdfc","name":"","label":"NUMERIC_ID","place":"","group":"78c97882.c8d7d8","order":4,"width":"7","height":"1","passthru":true,"options":[{"label":"Ambient temperature 3200000","value":"3200000","type":"str"},{"label":"Relative Humidity 3200002","value":"3200002","type":"str"},{"label":"ElEnergy 401191000","value":"401191000","type":"str"},{"label":"EnergyUnits 42100068","value":"42100068","type":"str"},{"label":"Absolute air pressure 3200003","value":"3200003","type":"str"},{"label":"Wind speed 3200004","value":"3200004","type":"str"},{"label":"Global solar radiation 3200008","value":"3200008","type":"str"},{"label":"None","value":"000","type":"str"}],"payload":"","topic":"","x":175,"y":114,"wires":[["2bc0f91a.21fee6","2511960a.29581a"]]},{"id":"2511960a.29581a","type":"debug","z":"134033fa.c8fdfc","name":"numeric id","active":true,"console":"false","complete":"payload","x":360,"y":165,"wires":[]},{"id":"a27d2bd9.47db28","type":"http in","z":"ad33cb97.8079a8","name":"","url":"/","method":"get","swaggerDoc":"","x":644,"y":146,"wires":[["14282398.f23d8c"]]},{"id":"14282398.f23d8c","type":"template","z":"ad33cb97.8079a8","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<script>\n    window.location.href = '/ui';\n</script>","x":804,"y":146,"wires":[["358e846a.a691ac"]]},{"id":"358e846a.a691ac","type":"http response","z":"ad33cb97.8079a8","name":"","x":944,"y":146,"wires":[]},{"id":"8a1a2002.d1f9d","type":"comment","z":"134033fa.c8fdfc","name":"Individual Dashboard","info":"This FLow contains all the elements for the user to select individual signal.\nAt max 4 signals can be selected together.","x":612,"y":40,"wires":[]},{"id":"9a0475bf.18fbb8","type":"OpcUa-Client","z":"134033fa.c8fdfc","endpoint":"c37e085a.8bf968","action":"subscribe","time":"4","timeUnit":"s","name":"","x":509,"y":1463.0000305175781,"wires":[["c129f07.4568d1","ec9e8730.c110e8"]]},{"id":"c129f07.4568d1","type":"debug","z":"134033fa.c8fdfc","name":"","active":false,"console":"false","complete":"payload","x":782.010009765625,"y":1518.0000305175781,"wires":[]},{"id":"ec9e8730.c110e8","type":"ui_text","z":"134033fa.c8fdfc","group":"d3ccea4.b611a18","order":1,"width":"8","height":"4","name":"Outside Meteo","label":"","format":"<font size=\"15\" color=\"white\">{{  msg.payload | uppercase }} &degC</font>","layout":"col-center","x":799.010009765625,"y":1425.0000305175781,"wires":[]},{"id":"eaa107e3.0f50d8","type":"inject","z":"134033fa.c8fdfc","name":"Meteo.Aussentemperatur","topic":"ns=38;s=MET51.strWrite.lrLufttemperatur","payload":"","payloadType":"num","repeat":"5","crontab":"","once":false,"x":231.010009765625,"y":1451.5,"wires":[["9a0475bf.18fbb8"]]},{"id":"2b901eaf.584ed2","type":"comment","z":"134033fa.c8fdfc","name":"3. Live Data for Ambient Temperature","info":"This data is taken from OPC UA.","x":231,"y":1396,"wires":[]},{"id":"cbcabbca.fa1ef8","type":"comment","z":"cec03951.a6d398","name":"Weather Station","info":"This is the flow for Weather Station Dashboard containing 4 signals i.e.\nNumericID 320000, 32000002, 3200003, 3200004, 3200008","x":515.5000305175781,"y":32,"wires":[]},{"id":"6214d147.72cb5","type":"delay","z":"134033fa.c8fdfc","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":410.6060333251953,"y":1160.606092453003,"wires":[["261c07ac.5f83b8"]]},{"id":"41778529.8eef9c","type":"comment","z":"134033fa.c8fdfc","name":"selecting resolution filter","info":"","x":205.9090909090909,"y":312.72728876634073,"wires":[]},{"id":"ff2eb103.3be45","type":"comment","z":"134033fa.c8fdfc","name":"getting the unit of the signal","info":"","x":431.3636641068892,"y":593.6363844438032,"wires":[]},{"id":"4e9e8969.295a18","type":"comment","z":"134033fa.c8fdfc","name":"getting the description of the signal","info":"","x":450.45457319779825,"y":700.9091117165304,"wires":[]},{"id":"5e1c5c7c.c445c4","type":"comment","z":"134033fa.c8fdfc","name":"1. Getting the data from SQL DB for current day for 24 hr","info":"","x":536.8182095614346,"y":860.3030464865944,"wires":[]},{"id":"91bfe033.80152","type":"comment","z":"134033fa.c8fdfc","name":"2. Getting the data from SQL for the resolution selected ","info":"Most important graph in the flow","x":540.4545731977983,"y":1107.5757737593217,"wires":[]},{"id":"e9f32810.7aa8b8","type":"comment","z":"cec03951.a6d398","name":"Resolution Filter","info":"","x":250,"y":205.55555555555554,"wires":[]},{"id":"383eb41b.f87f2c","type":"comment","z":"cec03951.a6d398","name":"3. All the four signals together for the Weather Station based on selected resolution filter","info":"","x":464.6666717529297,"y":489.66668701171875,"wires":[]},{"id":"204e7ee7.b91352","type":"OpcUa-Client","z":"cec03951.a6d398","endpoint":"c37e085a.8bf968","action":"subscribe","time":"4","timeUnit":"s","name":"","x":463,"y":1868,"wires":[["fb9f8f03.ff78d","42eaa331.9f5f1c"]]},{"id":"fb9f8f03.ff78d","type":"debug","z":"cec03951.a6d398","name":"","active":false,"console":"false","complete":"payload","x":736.010009765625,"y":1923,"wires":[]},{"id":"42eaa331.9f5f1c","type":"ui_text","z":"cec03951.a6d398","group":"4019201.c1b26e","order":1,"width":"6","height":"2","name":"Outside Live Temperature","label":"Ambient Temperature","format":"<font size=\"10\" color=\"white\">{{  msg.payload | uppercase }} &degC</font>","layout":"col-center","x":783.010009765625,"y":1830,"wires":[]},{"id":"61cee2ba.fc4fec","type":"inject","z":"cec03951.a6d398","name":"Meteo.Aussentemperatur","topic":"ns=20;s=MET51.strMET51Read.strWetterstation.strStation1.lrLufttemperatur","payload":"","payloadType":"num","repeat":"5","crontab":"","once":false,"x":185.010009765625,"y":1856.4999694824219,"wires":[["204e7ee7.b91352"]]},{"id":"807e39c1.8f81c8","type":"comment","z":"cec03951.a6d398","name":"1. Live Datafrom OPC UA","info":"This data is taken from OPC UA.","x":145,"y":1769,"wires":[]},{"id":"e7f2956f.fbbc08","type":"comment","z":"cec03951.a6d398","name":"1.1 Ambient Temperature 3200000","info":"","x":181,"y":1820,"wires":[]},{"id":"d1cad852.685d68","type":"ui_text","z":"cec03951.a6d398","group":"4019201.c1b26e","order":3,"width":"6","height":"2","name":"Outside Absolute Pressure","label":"Absolute Air Pressure","format":"<font size=\"10\" color=\"white\">{{  msg.payload | uppercase }} hPa</font>","layout":"col-center","x":798,"y":1990,"wires":[]},{"id":"718ae66f.cf4d78","type":"OpcUa-Client","z":"cec03951.a6d398","endpoint":"c37e085a.8bf968","action":"subscribe","time":"4","timeUnit":"s","name":"","x":467.989990234375,"y":2028,"wires":[["74cc26d7.fa1108","d1cad852.685d68"]]},{"id":"74cc26d7.fa1108","type":"debug","z":"cec03951.a6d398","name":"","active":false,"console":"false","complete":"payload","x":741,"y":2083,"wires":[]},{"id":"181a39ef.4ab446","type":"inject","z":"cec03951.a6d398","name":"Meteo.Absolutepressure","topic":"ns=20;s=MET51.strMET51Read.strWetterstation.strStation1.lrAbsoluterLuftdruck","payload":"","payloadType":"num","repeat":"5","crontab":"","once":false,"x":180,"y":2016.4999694824219,"wires":[["718ae66f.cf4d78"]]},{"id":"17dc71d3.aba08e","type":"ui_text","z":"cec03951.a6d398","group":"4019201.c1b26e","order":2,"width":"6","height":"2","name":"Outside Relative Humidity","label":"Relative Humidity","format":"<font size=\"10\" color=\"white\">{{  msg.payload | uppercase }} %</font>","layout":"col-center","x":777,"y":2119,"wires":[]},{"id":"aa0561c1.6cf69","type":"OpcUa-Client","z":"cec03951.a6d398","endpoint":"c37e085a.8bf968","action":"subscribe","time":"4","timeUnit":"s","name":"","x":456.989990234375,"y":2157,"wires":[["a570221f.f758d","17dc71d3.aba08e"]]},{"id":"a570221f.f758d","type":"debug","z":"cec03951.a6d398","name":"","active":false,"console":"false","complete":"payload","x":730,"y":2212,"wires":[]},{"id":"1e39318c.dba82e","type":"inject","z":"cec03951.a6d398","name":"Meteo.RelativeHumidity","topic":"ns=20;s=MET51.strMET51Read.strWetterstation.strStation1.lrRelativeFeuchte","payload":"","payloadType":"num","repeat":"5","crontab":"","once":false,"x":169,"y":2145.499969482422,"wires":[["aa0561c1.6cf69"]]},{"id":"433ab58.223194c","type":"ui_text","z":"cec03951.a6d398","group":"4019201.c1b26e","order":4,"width":"6","height":"2","name":"OutsideWind Speed","label":"Wind Speed","format":"<font size=\"10\" color=\"white\">{{  msg.payload | uppercase }} m/s</font>","layout":"col-center","x":761,"y":2286,"wires":[]},{"id":"5a8da7e1.5e43e8","type":"OpcUa-Client","z":"cec03951.a6d398","endpoint":"c37e085a.8bf968","action":"subscribe","time":"4","timeUnit":"s","name":"","x":450.989990234375,"y":2324,"wires":[["6d90f635.793788","433ab58.223194c"]]},{"id":"6d90f635.793788","type":"debug","z":"cec03951.a6d398","name":"","active":false,"console":"false","complete":"payload","x":724,"y":2379,"wires":[]},{"id":"dde7698a.fa1028","type":"inject","z":"cec03951.a6d398","name":"Meteo.windspeed","topic":"ns=20;s=MET51.strMET51Read.strWetterstation.strStation1.lrWindgeschwindigkeit","payload":"","payloadType":"num","repeat":"5","crontab":"","once":false,"x":143,"y":2312.499969482422,"wires":[["5a8da7e1.5e43e8"]]},{"id":"857af3d3.86031","type":"ui_text","z":"cec03951.a6d398","group":"4019201.c1b26e","order":5,"width":"6","height":"2","name":"Outside Global Solar Radiation","label":"Global Solar Radiation","format":"<font size=\"10\" color=\"white\">{{  msg.payload | uppercase}} W/m2</font>","layout":"col-center","x":789,"y":2460,"wires":[]},{"id":"f0d76d67.017f3","type":"OpcUa-Client","z":"cec03951.a6d398","endpoint":"c37e085a.8bf968","action":"subscribe","time":"4","timeUnit":"s","name":"","x":448.989990234375,"y":2498,"wires":[["69783415.a2d02c","857af3d3.86031"]]},{"id":"69783415.a2d02c","type":"debug","z":"cec03951.a6d398","name":"","active":false,"console":"false","complete":"payload","x":722,"y":2553,"wires":[]},{"id":"8a808225.4e0e1","type":"inject","z":"cec03951.a6d398","name":"Meteo.globalsolarradiation","topic":"ns=20;s=MET51.strMET51Read.strWetterstation.strStation1.lrGlobalstrahlung","payload":"","payloadType":"num","repeat":"5","crontab":"","once":false,"x":171,"y":2486.499969482422,"wires":[["f0d76d67.017f3"]]},{"id":"beb15fc6.e132c","type":"comment","z":"cec03951.a6d398","name":"1.3 absolute pressure 3200003","info":"","x":174,"y":1968,"wires":[]},{"id":"7c080078.8b9a6","type":"comment","z":"cec03951.a6d398","name":"1.2 relative humidity 3200002","info":"","x":156,"y":2095,"wires":[]},{"id":"ed6490f3.4d242","type":"comment","z":"cec03951.a6d398","name":"1.4 wind speed 3200004","info":"","x":157,"y":2272,"wires":[]},{"id":"df2f2212.7967a","type":"comment","z":"cec03951.a6d398","name":"1.5 global solar radiation 3200008","info":"","x":180,"y":2430,"wires":[]},{"id":"35da1a94.134386","type":"comment","z":"cec03951.a6d398","name":"2. Getting the data from SQL DB for current day for 24 hr","info":"","x":249,"y":792,"wires":[]},{"id":"e522719d.ca358","type":"delay","z":"cec03951.a6d398","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":263,"y":904,"wires":[["9d67ffeb.dcb9a"]]},{"id":"9d67ffeb.dcb9a","type":"function","z":"cec03951.a6d398","name":"live_data_query","func":"\n  var q1 = \"SELECT AVG(TRY_CAST(_VALUE as FLOAT)) as avg_temp  , DATEPART( hour, _TIMESTAMP ) as _hour  from  [NestTest].[dbo].[KepMET51] \"+\n          \"where _TIMESTAMP >= CONVERT (date, GETDATE())  AND \"+\n           \"kepMet51._NUMERICID= \"+ \"3200000\" +\n          \" AND TRY_CAST(_VALUE AS FLOAT) < 100 \"+\n          \"group by  DATEPART( hour, _TIMESTAMP ) order by _hour asc\";  \n\n \nmsg.payload = q1;\nreturn msg;","outputs":1,"noerr":0,"x":501.63641357421875,"y":902.3636474609375,"wires":[["d402c244.bd2"]]},{"id":"d402c244.bd2","type":"MSSQL","z":"cec03951.a6d398","mssqlCN":"9534cec8.3799d","name":"NEST","query":"","outField":"payload","x":733.1818237304688,"y":875.6363525390625,"wires":[["60c1a545.f87dfc","17840956.f0c577"]]},{"id":"17840956.f0c577","type":"function","z":"cec03951.a6d398","name":"Data Converter","func":"var today = (new Date()).toISOString().slice(0,10).replace(/-/g,\"-\");\nvar desc = \"ambient temperature\";\nvar year = \"Hourly Live Data for \"+ desc ;\nvar data = msg.payload;\nvar numericID2 = \"3200000\";\nvar unit = \"*C\";\nmsg.paylaod = [];\nvar value = [];\nvar date = [];\nfor(var i = 0; i < data.length;i++){\n    value.push(data[i].avg_temp);\n    date.push(data[i]._hour);\n}\n    \n\n        \nmsg.payload = [value,date,numericID2,year,desc, today,unit];\n\nreturn msg;","outputs":1,"noerr":0,"x":988.6363525390625,"y":914.45458984375,"wires":[["7d754928.32a118","6933bfe6.82dd2"]]},{"id":"60c1a545.f87dfc","type":"debug","z":"cec03951.a6d398","name":"Live data","active":true,"console":"false","complete":"payload","x":971.9091186523438,"y":872.727294921875,"wires":[]},{"id":"7d754928.32a118","type":"debug","z":"cec03951.a6d398","name":"live highcharts","active":true,"console":"false","complete":"payload","x":1214.727294921875,"y":944.3636474609375,"wires":[]},{"id":"bbcc9645.fae198","type":"comment","z":"cec03951.a6d398","name":"2.1 Ambient Temperature 3200000","info":"","x":179,"y":847,"wires":[]},{"id":"41bd18d0.150db8","type":"comment","z":"cec03951.a6d398","name":"2.2 relative humidity 3200002","info":"","x":160,"y":976,"wires":[]},{"id":"b81f377.c43b4c8","type":"delay","z":"cec03951.a6d398","name":"","pauseType":"delay","timeout":"350","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":253,"y":1080,"wires":[["f3c403e.54414"]]},{"id":"f3c403e.54414","type":"function","z":"cec03951.a6d398","name":"live_data_query","func":"\n  var q1 = \"SELECT AVG(TRY_CAST(_VALUE as FLOAT)) as avg_temp  , DATEPART( hour, _TIMESTAMP ) as _hour  from  [NestTest].[dbo].[KepMET51] \"+\n          \"where _TIMESTAMP >= CONVERT (date, GETDATE())  AND \"+\n           \"kepMet51._NUMERICID= \"+ \"3200002\" +\n          \" AND TRY_CAST(_VALUE AS FLOAT) < 100 \"+\n          \"group by  DATEPART( hour, _TIMESTAMP ) order by _hour asc\";  \n\n \nmsg.payload = q1;\nreturn msg;","outputs":1,"noerr":0,"x":491.63641357421875,"y":1078.3636474609375,"wires":[["10a2bb01.807235"]]},{"id":"10a2bb01.807235","type":"MSSQL","z":"cec03951.a6d398","mssqlCN":"9534cec8.3799d","name":"NEST","query":"","outField":"payload","x":723.1818237304688,"y":1051.6363525390625,"wires":[["35bdf13b.b0b76e","9b1e1bcd.ca3428"]]},{"id":"35bdf13b.b0b76e","type":"debug","z":"cec03951.a6d398","name":"Live data","active":true,"console":"false","complete":"payload","x":961.9091186523438,"y":1048.727294921875,"wires":[]},{"id":"9b1e1bcd.ca3428","type":"function","z":"cec03951.a6d398","name":"Data Converter","func":"var today = (new Date()).toISOString().slice(0,10).replace(/-/g,\"-\");\nvar desc = \"Relative Humidity\";\nvar year = \"Hourly Live Data for \"+ desc ;\nvar data = msg.payload;\nvar numericID2 = \"3200002\";\nvar unit = \"%\";\nmsg.paylaod = [];\nvar value = [];\nvar date = [];\nfor(var i = 0; i < data.length;i++){\n    value.push(data[i].avg_temp);\n    date.push(data[i]._hour);\n}\n    \n\n        \nmsg.payload = [value,date,numericID2,year,desc, today ,unit];\n\nreturn msg;","outputs":1,"noerr":0,"x":978.6363525390625,"y":1090.45458984375,"wires":[["ca4060c5.eab98","2265ad1a.8347d2"]]},{"id":"ca4060c5.eab98","type":"debug","z":"cec03951.a6d398","name":"live highcharts","active":true,"console":"false","complete":"payload","x":1187.727294921875,"y":1120.3636474609375,"wires":[]},{"id":"6933bfe6.82dd2","type":"ui_template","z":"cec03951.a6d398","group":"4019201.c1b26e","name":"live charts","order":0,"width":"6","height":"4","format":"<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width\">\n</head>\n<body>\n<script src=\"https://code.highcharts.com/highcharts.js\"></script>\n<script src=\"https://code.highcharts.com/modules/exporting.js\"></script>\n<div id=\"container2\" style=\"min-width: 290px; height: 190px; margin: 0 auto\"></div>\n<script>\n(function(scope) {\n        scope.$watch('msg.payload', function(dataseries) {\n            \n    Highcharts.chart('container2', {\n    chart: {\n        backgroundColor: {\n         linearGradient: { x1: 0, y1: 0, x2: 1, y2: 1 },\n         stops: [\n            [0, '#121212'],\n            [1, '#121212']\n         ]\n      },\n        type: 'line'\n    },\n    title: {\n        style: {\n         color: '#E0E0E3',\n         fontSize: '10px'\n      },\n        text: dataseries[3]\n    },\n    colors: ['#90ee7e', '#f45b5b', '#7798BF', '#aaeeee', '#ff0066', '#eeaaee',\n      '#55BF3B', '#DF5353', '#7798BF', '#aaeeee', '#2b908f'],\n    subtitle: {\n        style: {\n         color: '#E0E0E3',\n         fontSize: '8px'\n      },\n        text:  \"Today = \" + \"'\" + dataseries[5] + \"'\" + \" Empa NEST\"\n    },\n    xAxis: {\n        gridLineColor: '#707073',\n      labels: {\n         style: {\n            color: '#E0E0E3',\n            fontSize: '8px'\n         }\n      },\n      lineColor: '#707073',\n      minorGridLineColor: '#505053',\n      tickColor: '#707073',\n      title: {\n         style: {\n            color: '#A0A0A3',\n            fontSize: '8px'\n         }\n      },\n        categories:dataseries[1],\n        crosshair: true\n    },\n    yAxis: {\n        title: {\n            text: 'Average Value',\n            style: {\n            color: '#A0A0A3',\n            fontSize: '8px'\n         }\n        }\n    },\n    tooltip: {\n        headerFormat: '<span style=\"font-size:10px\">{point.key}</span><table>',\n        pointFormat: '<tr><td style=\"color:{series.color};padding:0\">{series.name}: </td>' +\n            '<td style=\"padding:0\"><b>{point.y:.1f} '+dataseries[6]+'</b></td></tr>',\n        footerFormat: '</table>',\n        shared: true,\n        useHTML: true,\n        backgroundColor: 'rgba(0, 0, 0, 0.85)',\n      style: {\n         color: '#F0F0F0'\n      }\n    },\n    plotOptions: {\n        column: {\n            pointPadding: 0.2,\n            borderWidth: 0\n        }\n    },\n     legend: {\n      itemStyle: {\n         color: '#E0E0E3',\n         fontSize: '10px'\n      },\n      itemHoverStyle: {\n         color: '#FFF'\n      },\n      itemHiddenStyle: {\n         color: '#606063'\n      }\n   },\n    series: [ {\n        name: dataseries[4],\n        data: dataseries[0]\n    }]\n});\n        });\n    })(scope);\n</script>\n\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"x":1199,"y":881,"wires":[[]]},{"id":"2265ad1a.8347d2","type":"ui_template","z":"cec03951.a6d398","group":"4019201.c1b26e","name":"live charts","order":0,"width":"6","height":"4","format":"<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width\">\n</head>\n<body>\n<script src=\"https://code.highcharts.com/highcharts.js\"></script>\n<script src=\"https://code.highcharts.com/modules/exporting.js\"></script>\n<div id=\"container3\" style=\"min-width: 290px; height: 190px; margin: 0 auto\"></div>\n<script>\n(function(scope) {\n        scope.$watch('msg.payload', function(dataseries) {\n            \n    Highcharts.chart('container3', {\n    chart: {\n        backgroundColor: {\n         linearGradient: { x1: 0, y1: 0, x2: 1, y2: 1 },\n         stops: [\n            [0, '#121212'],\n            [1, '#121212']\n         ]\n      },\n        type: 'line'\n    },\n    title: {\n        style: {\n         color: '#E0E0E3',\n         fontSize: '10px'\n      },\n        text: dataseries[3]\n    },\n    colors: ['#90ee7e', '#f45b5b', '#7798BF', '#aaeeee', '#ff0066', '#eeaaee',\n      '#55BF3B', '#DF5353', '#7798BF', '#aaeeee', '#2b908f'],\n    subtitle: {\n        style: {\n         color: '#E0E0E3',\n         fontSize: '8px'\n      },\n        text:  \"Today = \" + \"'\" + dataseries[5] + \"'\" + \" Empa NEST\"\n    },\n    xAxis: {\n        gridLineColor: '#707073',\n      labels: {\n         style: {\n            color: '#E0E0E3',\n            fontSize: '8px'\n         }\n      },\n      lineColor: '#707073',\n      minorGridLineColor: '#505053',\n      tickColor: '#707073',\n      title: {\n         style: {\n            color: '#A0A0A3',\n            fontSize: '8px'\n         }\n      },\n        categories:dataseries[1],\n        crosshair: true\n    },\n    yAxis: {\n        title: {\n            text: 'Average Value',\n            style: {\n            color: '#A0A0A3',\n            fontSize: '8px'\n         }\n        }\n    },\n    tooltip: {\n        headerFormat: '<span style=\"font-size:10px\">{point.key}</span><table>',\n        pointFormat: '<tr><td style=\"color:{series.color};padding:0\">{series.name}: </td>' +\n            '<td style=\"padding:0\"><b>{point.y:.1f} '+dataseries[6]+'</b></td></tr>',\n        footerFormat: '</table>',\n        shared: true,\n        useHTML: true,\n        backgroundColor: 'rgba(0, 0, 0, 0.85)',\n      style: {\n         color: '#F0F0F0'\n      }\n    },\n    plotOptions: {\n        column: {\n            pointPadding: 0.2,\n            borderWidth: 0\n        }\n    },\n     legend: {\n      itemStyle: {\n         color: '#E0E0E3',\n         fontSize: '10px'\n      },\n      itemHoverStyle: {\n         color: '#FFF'\n      },\n      itemHiddenStyle: {\n         color: '#606063'\n      }\n   },\n    series: [ {\n        name: dataseries[4],\n        data: dataseries[0]\n    }]\n});\n        });\n    })(scope);\n</script>\n\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"x":1182,"y":1029,"wires":[[]]},{"id":"8c296c7.7dfd29","type":"delay","z":"cec03951.a6d398","name":"","pauseType":"delay","timeout":"400","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":252,"y":1239,"wires":[["50d686cc.ea83a8"]]},{"id":"c2317b51.ee90a8","type":"ui_template","z":"cec03951.a6d398","group":"4019201.c1b26e","name":"live charts","order":0,"width":"6","height":"4","format":"<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width\">\n</head>\n<body>\n<script src=\"https://code.highcharts.com/highcharts.js\"></script>\n<script src=\"https://code.highcharts.com/modules/exporting.js\"></script>\n<div id=\"container4\" style=\"min-width: 290px; height: 190px; margin: 0 auto\"></div>\n<script>\n(function(scope) {\n        scope.$watch('msg.payload', function(dataseries) {\n            \n    Highcharts.chart('container4', {\n    chart: {\n        backgroundColor: {\n         linearGradient: { x1: 0, y1: 0, x2: 1, y2: 1 },\n         stops: [\n            [0, '#121212'],\n            [1, '#121212']\n         ]\n      },\n        type: 'line'\n    },\n    title: {\n        style: {\n         color: '#E0E0E3',\n         fontSize: '10px'\n      },\n        text: dataseries[3]\n    },\n    colors: ['#90ee7e', '#f45b5b', '#7798BF', '#aaeeee', '#ff0066', '#eeaaee',\n      '#55BF3B', '#DF5353', '#7798BF', '#aaeeee', '#2b908f'],\n    subtitle: {\n        style: {\n         color: '#E0E0E3',\n         fontSize: '8px'\n      },\n        text:  \"Today = \" + \"'\" + dataseries[5] + \"'\" + \" Empa NEST\"\n    },\n    xAxis: {\n        gridLineColor: '#707073',\n      labels: {\n         style: {\n            color: '#E0E0E3',\n            fontSize: '8px'\n         }\n      },\n      lineColor: '#707073',\n      minorGridLineColor: '#505053',\n      tickColor: '#707073',\n      title: {\n         style: {\n            color: '#A0A0A3',\n            fontSize: '8px'\n         }\n      },\n        categories:dataseries[1],\n        crosshair: true\n    },\n    yAxis: {\n        title: {\n            text: 'Average Value',\n            style: {\n            color: '#A0A0A3',\n            fontSize: '8px'\n         }\n        }\n    },\n    tooltip: {\n        headerFormat: '<span style=\"font-size:10px\">{point.key}</span><table>',\n        pointFormat: '<tr><td style=\"color:{series.color};padding:0\">{series.name}: </td>' +\n            '<td style=\"padding:0\"><b>{point.y:.1f} '+dataseries[6]+'</b></td></tr>',\n        footerFormat: '</table>',\n        shared: true,\n        useHTML: true,\n        backgroundColor: 'rgba(0, 0, 0, 0.85)',\n      style: {\n         color: '#F0F0F0'\n      }\n    },\n    plotOptions: {\n        column: {\n            pointPadding: 0.2,\n            borderWidth: 0\n        }\n    },\n     legend: {\n      itemStyle: {\n         color: '#E0E0E3',\n         fontSize: '10px'\n      },\n      itemHoverStyle: {\n         color: '#FFF'\n      },\n      itemHiddenStyle: {\n         color: '#606063'\n      }\n   },\n    series: [ {\n        name: dataseries[4],\n        data: dataseries[0]\n    }]\n});\n        });\n    })(scope);\n</script>\n\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"x":1181,"y":1188,"wires":[[]]},{"id":"50d686cc.ea83a8","type":"function","z":"cec03951.a6d398","name":"live_data_query","func":"\n  var q1 = \"SELECT AVG(TRY_CAST(_VALUE as FLOAT)) as avg_temp  , DATEPART( hour, _TIMESTAMP ) as _hour  from  [NestTest].[dbo].[KepMET51] \"+\n          \"where _TIMESTAMP >= CONVERT (date, GETDATE())  AND \"+\n           \"kepMet51._NUMERICID= \"+ \"3200003\" +\n          \" AND TRY_CAST(_VALUE AS FLOAT) < 100 \"+\n          \"group by  DATEPART( hour, _TIMESTAMP ) order by _hour asc\";  \n\n \nmsg.payload = q1;\nreturn msg;","outputs":1,"noerr":0,"x":490.63641357421875,"y":1237.3636474609375,"wires":[["7a5d39f3.fa8428"]]},{"id":"7a5d39f3.fa8428","type":"MSSQL","z":"cec03951.a6d398","mssqlCN":"9534cec8.3799d","name":"NEST","query":"","outField":"payload","x":722.1818237304688,"y":1210.6363525390625,"wires":[["3125700b.7699","1e8fb464.d66c5c"]]},{"id":"3125700b.7699","type":"debug","z":"cec03951.a6d398","name":"Live data","active":true,"console":"false","complete":"payload","x":960.9091186523438,"y":1207.727294921875,"wires":[]},{"id":"1e8fb464.d66c5c","type":"function","z":"cec03951.a6d398","name":"Data Converter","func":"var today = (new Date()).toISOString().slice(0,10).replace(/-/g,\"-\");\nvar desc = \"Absolute Air Pressure\";\nvar year = \"Hourly Live Data for \"+ desc ;\nvar data = msg.payload;\nvar numericID2 = \"3200003\";\nvar unit = \"hPa\";\nmsg.paylaod = [];\nvar value = [];\nvar date = [];\nfor(var i = 0; i < data.length;i++){\n    value.push(data[i].avg_temp);\n    date.push(data[i]._hour);\n}\n    \n\n        \nmsg.payload = [value,date,numericID2,year,desc, today ,unit];\n\nreturn msg;","outputs":1,"noerr":0,"x":977.6363525390625,"y":1249.45458984375,"wires":[["d81c0c22.b47fc","c2317b51.ee90a8"]]},{"id":"d81c0c22.b47fc","type":"debug","z":"cec03951.a6d398","name":"live highcharts","active":true,"console":"false","complete":"payload","x":1186.727294921875,"y":1279.3636474609375,"wires":[]},{"id":"80b230f2.02421","type":"delay","z":"cec03951.a6d398","name":"","pauseType":"delay","timeout":"450","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":266,"y":1405,"wires":[["d503ade4.04ae5"]]},{"id":"c33b1828.5359b8","type":"ui_template","z":"cec03951.a6d398","group":"4019201.c1b26e","name":"live charts","order":0,"width":"6","height":"4","format":"<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width\">\n</head>\n<body>\n<script src=\"https://code.highcharts.com/highcharts.js\"></script>\n<script src=\"https://code.highcharts.com/modules/exporting.js\"></script>\n<div id=\"container5\" style=\"min-width: 290px; height: 190px; margin: 0 auto\"></div>\n<script>\n(function(scope) {\n        scope.$watch('msg.payload', function(dataseries) {\n            \n    Highcharts.chart('container5', {\n    chart: {\n        backgroundColor: {\n         linearGradient: { x1: 0, y1: 0, x2: 1, y2: 1 },\n         stops: [\n            [0, '#121212'],\n            [1, '#121212']\n         ]\n      },\n        type: 'line'\n    },\n    title: {\n        style: {\n         color: '#E0E0E3',\n         fontSize: '10px'\n      },\n        text: dataseries[3]\n    },\n    colors: ['#90ee7e', '#f45b5b', '#7798BF', '#aaeeee', '#ff0066', '#eeaaee',\n      '#55BF3B', '#DF5353', '#7798BF', '#aaeeee', '#2b908f'],\n    subtitle: {\n        style: {\n         color: '#E0E0E3',\n         fontSize: '8px'\n      },\n        text:  \"Today = \" + \"'\" + dataseries[5] + \"'\" + \" Empa NEST\"\n    },\n    xAxis: {\n        gridLineColor: '#707073',\n      labels: {\n         style: {\n            color: '#E0E0E3',\n            fontSize: '8px'\n         }\n      },\n      lineColor: '#707073',\n      minorGridLineColor: '#505053',\n      tickColor: '#707073',\n      title: {\n         style: {\n            color: '#A0A0A3',\n            fontSize: '8px'\n         }\n      },\n        categories:dataseries[1],\n        crosshair: true\n    },\n    yAxis: {\n        title: {\n            text: 'Average Value',\n            style: {\n            color: '#A0A0A3',\n            fontSize: '8px'\n         }\n        }\n    },\n    tooltip: {\n        headerFormat: '<span style=\"font-size:10px\">{point.key}</span><table>',\n        pointFormat: '<tr><td style=\"color:{series.color};padding:0\">{series.name}: </td>' +\n            '<td style=\"padding:0\"><b>{point.y:.1f} '+dataseries[6]+'</b></td></tr>',\n        footerFormat: '</table>',\n        shared: true,\n        useHTML: true,\n        backgroundColor: 'rgba(0, 0, 0, 0.85)',\n      style: {\n         color: '#F0F0F0'\n      }\n    },\n    plotOptions: {\n        column: {\n            pointPadding: 0.2,\n            borderWidth: 0\n        }\n    },\n     legend: {\n      itemStyle: {\n         color: '#E0E0E3',\n         fontSize: '10px'\n      },\n      itemHoverStyle: {\n         color: '#FFF'\n      },\n      itemHiddenStyle: {\n         color: '#606063'\n      }\n   },\n    series: [ {\n        name: dataseries[4],\n        data: dataseries[0]\n    }]\n});\n        });\n    })(scope);\n</script>\n\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"x":1195,"y":1354,"wires":[[]]},{"id":"d503ade4.04ae5","type":"function","z":"cec03951.a6d398","name":"live_data_query","func":"\n  var q1 = \"SELECT AVG(TRY_CAST(_VALUE as FLOAT)) as avg_temp  , DATEPART( hour, _TIMESTAMP ) as _hour  from  [NestTest].[dbo].[KepMET51] \"+\n          \"where _TIMESTAMP >= CONVERT (date, GETDATE())  AND \"+\n           \"kepMet51._NUMERICID= \"+ \"3200002\" +\n          \" AND TRY_CAST(_VALUE AS FLOAT) < 100 \"+\n          \"group by  DATEPART( hour, _TIMESTAMP ) order by _hour asc\";  \n\n \nmsg.payload = q1;\nreturn msg;","outputs":1,"noerr":0,"x":504.63641357421875,"y":1403.3636474609375,"wires":[["9dcb2328.590c4"]]},{"id":"9dcb2328.590c4","type":"MSSQL","z":"cec03951.a6d398","mssqlCN":"9534cec8.3799d","name":"NEST","query":"","outField":"payload","x":736.1818237304688,"y":1376.6363525390625,"wires":[["d1e87003.17bd5","cd08bfc5.3a1ff"]]},{"id":"d1e87003.17bd5","type":"debug","z":"cec03951.a6d398","name":"Live data","active":true,"console":"false","complete":"payload","x":974.9091186523438,"y":1373.727294921875,"wires":[]},{"id":"cd08bfc5.3a1ff","type":"function","z":"cec03951.a6d398","name":"Data Converter","func":"var today = (new Date()).toISOString().slice(0,10).replace(/-/g,\"-\");\nvar desc = \"Wind Speed\";\nvar year = \"Hourly Live Data for \"+ desc ;\nvar data = msg.payload;\nvar numericID2 = \"3200004\";\nvar unit = \"m/s\";\nmsg.paylaod = [];\nvar value = [];\nvar date = [];\nfor(var i = 0; i < data.length;i++){\n    value.push(data[i].avg_temp);\n    date.push(data[i]._hour);\n}\n    \n\n        \nmsg.payload = [value,date,numericID2,year,desc, today ,unit];\n\nreturn msg;","outputs":1,"noerr":0,"x":991.6363525390625,"y":1415.45458984375,"wires":[["165fff5.ea3b201","c33b1828.5359b8"]]},{"id":"165fff5.ea3b201","type":"debug","z":"cec03951.a6d398","name":"live highcharts","active":true,"console":"false","complete":"payload","x":1200.727294921875,"y":1445.3636474609375,"wires":[]},{"id":"b112e2fa.a24a6","type":"delay","z":"cec03951.a6d398","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":273,"y":1569,"wires":[["a103d828.05f268"]]},{"id":"5e0743ea.70156c","type":"ui_template","z":"cec03951.a6d398","group":"4019201.c1b26e","name":"live charts","order":0,"width":"6","height":"4","format":"<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width\">\n</head>\n<body>\n<script src=\"https://code.highcharts.com/highcharts.js\"></script>\n<script src=\"https://code.highcharts.com/modules/exporting.js\"></script>\n<div id=\"container6\" style=\"min-width: 290px; height: 190px; margin: 0 auto\"></div>\n<script>\n(function(scope) {\n        scope.$watch('msg.payload', function(dataseries) {\n            \n    Highcharts.chart('container6', {\n    chart: {\n        backgroundColor: {\n         linearGradient: { x1: 0, y1: 0, x2: 1, y2: 1 },\n         stops: [\n            [0, '#121212'],\n            [1, '#121212']\n         ]\n      },\n        type: 'line'\n    },\n    title: {\n        style: {\n         color: '#E0E0E3',\n         fontSize: '10px'\n      },\n        text: dataseries[3]\n    },\n    colors: ['#90ee7e', '#f45b5b', '#7798BF', '#aaeeee', '#ff0066', '#eeaaee',\n      '#55BF3B', '#DF5353', '#7798BF', '#aaeeee', '#2b908f'],\n    subtitle: {\n        style: {\n         color: '#E0E0E3',\n         fontSize: '8px'\n      },\n        text:  \"Today = \" + \"'\" + dataseries[5] + \"'\" + \" Empa NEST\"\n    },\n    xAxis: {\n        gridLineColor: '#707073',\n      labels: {\n         style: {\n            color: '#E0E0E3',\n            fontSize: '8px'\n         }\n      },\n      lineColor: '#707073',\n      minorGridLineColor: '#505053',\n      tickColor: '#707073',\n      title: {\n         style: {\n            color: '#A0A0A3',\n            fontSize: '8px'\n         }\n      },\n        categories:dataseries[1],\n        crosshair: true\n    },\n    yAxis: {\n        title: {\n            text: 'Average Value',\n            style: {\n            color: '#A0A0A3',\n            fontSize: '8px'\n         }\n        }\n    },\n    tooltip: {\n        headerFormat: '<span style=\"font-size:10px\">{point.key}</span><table>',\n        pointFormat: '<tr><td style=\"color:{series.color};padding:0\">{series.name}: </td>' +\n            '<td style=\"padding:0\"><b>{point.y:.1f} '+dataseries[6]+'</b></td></tr>',\n        footerFormat: '</table>',\n        shared: true,\n        useHTML: true,\n        backgroundColor: 'rgba(0, 0, 0, 0.85)',\n      style: {\n         color: '#F0F0F0'\n      }\n    },\n    plotOptions: {\n        column: {\n            pointPadding: 0.2,\n            borderWidth: 0\n        }\n    },\n     legend: {\n      itemStyle: {\n         color: '#E0E0E3',\n         fontSize: '10px'\n      },\n      itemHoverStyle: {\n         color: '#FFF'\n      },\n      itemHiddenStyle: {\n         color: '#606063'\n      }\n   },\n    series: [ {\n        name: dataseries[4],\n        data: dataseries[0]\n    }]\n});\n        });\n    })(scope);\n</script>\n\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"x":1202,"y":1518,"wires":[[]]},{"id":"a103d828.05f268","type":"function","z":"cec03951.a6d398","name":"live_data_query","func":"\n  var q1 = \"SELECT AVG(TRY_CAST(_VALUE as FLOAT)) as avg_temp  , DATEPART( hour, _TIMESTAMP ) as _hour  from  [NestTest].[dbo].[KepMET51] \"+\n          \"where _TIMESTAMP >= CONVERT (date, GETDATE())  AND \"+\n           \"kepMet51._NUMERICID= \"+ \"3200002\" +\n          \" AND TRY_CAST(_VALUE AS FLOAT) < 100 \"+\n          \"group by  DATEPART( hour, _TIMESTAMP ) order by _hour asc\";  \n\n \nmsg.payload = q1;\nreturn msg;","outputs":1,"noerr":0,"x":511.63641357421875,"y":1567.3636474609375,"wires":[["3604d20d.309bfe"]]},{"id":"3604d20d.309bfe","type":"MSSQL","z":"cec03951.a6d398","mssqlCN":"9534cec8.3799d","name":"NEST","query":"","outField":"payload","x":743.1818237304688,"y":1540.6363525390625,"wires":[["81f25615.50b188","4ef8868.7a7f578"]]},{"id":"81f25615.50b188","type":"debug","z":"cec03951.a6d398","name":"Live data","active":true,"console":"false","complete":"payload","x":981.9091186523438,"y":1537.727294921875,"wires":[]},{"id":"4ef8868.7a7f578","type":"function","z":"cec03951.a6d398","name":"Data Converter","func":"var today = (new Date()).toISOString().slice(0,10).replace(/-/g,\"-\");\nvar desc = \"Global Solar Radiation\";\nvar year = \"Hourly Live Data for \"+ desc ;\nvar data = msg.payload;\nvar numericID2 = \"3200008\";\nvar unit = \"W/m2\";\nmsg.paylaod = [];\nvar value = [];\nvar date = [];\nfor(var i = 0; i < data.length;i++){\n    value.push(data[i].avg_temp);\n    date.push(data[i]._hour);\n}\n    \n\n        \nmsg.payload = [value,date,numericID2,year,desc, today ,unit];\n\nreturn msg;","outputs":1,"noerr":0,"x":998.6363525390625,"y":1579.45458984375,"wires":[["1a35caab.b1e535","5e0743ea.70156c"]]},{"id":"1a35caab.b1e535","type":"debug","z":"cec03951.a6d398","name":"live highcharts","active":true,"console":"false","complete":"payload","x":1207.727294921875,"y":1609.3636474609375,"wires":[]},{"id":"b8c4a4d.0a6c858","type":"comment","z":"cec03951.a6d398","name":"2.3 absolute pressure 3200003","info":"","x":171,"y":1182,"wires":[]},{"id":"c62b77b7.e492e8","type":"comment","z":"cec03951.a6d398","name":"2.4 wind speed 3200004","info":"","x":157,"y":1358,"wires":[]},{"id":"de9597c6.7f79a8","type":"comment","z":"cec03951.a6d398","name":"2.5 global solar radiation 3200008","info":"","x":189,"y":1510,"wires":[]},{"id":"aeaa4a28.4beac8","type":"OpcUa-Client","z":"35db75a3.025a7a","endpoint":"c37e085a.8bf968","action":"subscribe","time":"4","timeUnit":"s","name":"","x":472,"y":149,"wires":[["4b258e36.f7e0f","86bee85a.3301f8"]]},{"id":"4b258e36.f7e0f","type":"debug","z":"35db75a3.025a7a","name":"","active":false,"console":"false","complete":"payload","x":745.010009765625,"y":204,"wires":[]},{"id":"86bee85a.3301f8","type":"ui_text","z":"35db75a3.025a7a","group":"303c9969.877a76","order":1,"width":"6","height":"2","name":"Outside Live Temperature","label":"Ambient Temperature","format":"<font size=\"10\" color=\"white\">{{  msg.payload | uppercase }} &degC</font>","layout":"col-center","x":792.010009765625,"y":111,"wires":[]},{"id":"8ee7a59e.008ac8","type":"inject","z":"35db75a3.025a7a","name":"Meteo.Aussentemperatur","topic":"ns=20;s=MET51.strMET51Read.strWetterstation.strStation1.lrLufttemperatur","payload":"","payloadType":"num","repeat":"5","crontab":"","once":false,"x":194.010009765625,"y":137.49996948242188,"wires":[["aeaa4a28.4beac8"]]},{"id":"db1e789c.b0bbf8","type":"comment","z":"35db75a3.025a7a","name":"1. Live Datafrom OPC UA","info":"This data is taken from OPC UA.","x":154,"y":50,"wires":[]},{"id":"d6ad595.57acfa8","type":"comment","z":"35db75a3.025a7a","name":"1.1 Ambient Temperature 3200000","info":"","x":190,"y":101,"wires":[]},{"id":"a85c6966.280918","type":"ui_text","z":"35db75a3.025a7a","group":"303c9969.877a76","order":3,"width":"6","height":"2","name":"Outside Absolute Pressure","label":"Absolute Air Pressure","format":"<font size=\"10\" color=\"white\">{{  msg.payload | uppercase }} hPa</font>","layout":"col-center","x":807,"y":271,"wires":[]},{"id":"3201f92c.2718c6","type":"OpcUa-Client","z":"35db75a3.025a7a","endpoint":"c37e085a.8bf968","action":"subscribe","time":"4","timeUnit":"s","name":"","x":476.989990234375,"y":309,"wires":[["df0cf7cb.439a98","a85c6966.280918"]]},{"id":"df0cf7cb.439a98","type":"debug","z":"35db75a3.025a7a","name":"","active":false,"console":"false","complete":"payload","x":750,"y":364,"wires":[]},{"id":"d4a4f244.d748f","type":"inject","z":"35db75a3.025a7a","name":"Meteo.Absolutepressure","topic":"ns=20;s=MET51.strMET51Read.strWetterstation.strStation1.lrAbsoluterLuftdruck","payload":"","payloadType":"num","repeat":"5","crontab":"","once":false,"x":189,"y":297.4999694824219,"wires":[["3201f92c.2718c6"]]},{"id":"b7e4c382.b1b76","type":"ui_text","z":"35db75a3.025a7a","group":"303c9969.877a76","order":2,"width":"6","height":"2","name":"Outside Relative Humidity","label":"Relative Humidity","format":"<font size=\"10\" color=\"white\">{{  msg.payload | uppercase }} %</font>","layout":"col-center","x":786,"y":400,"wires":[]},{"id":"d604bfde.90f9e","type":"OpcUa-Client","z":"35db75a3.025a7a","endpoint":"c37e085a.8bf968","action":"subscribe","time":"4","timeUnit":"s","name":"","x":465.989990234375,"y":438,"wires":[["6daea36d.65772c","b7e4c382.b1b76"]]},{"id":"6daea36d.65772c","type":"debug","z":"35db75a3.025a7a","name":"","active":false,"console":"false","complete":"payload","x":739,"y":493,"wires":[]},{"id":"90d755e9.854e28","type":"inject","z":"35db75a3.025a7a","name":"Meteo.RelativeHumidity","topic":"ns=20;s=MET51.strMET51Read.strWetterstation.strStation1.lrRelativeFeuchte","payload":"","payloadType":"num","repeat":"5","crontab":"","once":false,"x":178,"y":426.4999694824219,"wires":[["d604bfde.90f9e"]]},{"id":"39455f86.f5037","type":"ui_text","z":"35db75a3.025a7a","group":"303c9969.877a76","order":4,"width":"6","height":"2","name":"OutsideWind Speed","label":"Wind Speed","format":"<font size=\"10\" color=\"white\">{{  msg.payload | uppercase }} m/s</font>","layout":"col-center","x":770,"y":567,"wires":[]},{"id":"6a86677a.ef46c8","type":"OpcUa-Client","z":"35db75a3.025a7a","endpoint":"c37e085a.8bf968","action":"subscribe","time":"4","timeUnit":"s","name":"","x":459.989990234375,"y":605,"wires":[["ffc2d29a.aa91","39455f86.f5037"]]},{"id":"ffc2d29a.aa91","type":"debug","z":"35db75a3.025a7a","name":"","active":false,"console":"false","complete":"payload","x":733,"y":660,"wires":[]},{"id":"15cda4e6.1b09eb","type":"inject","z":"35db75a3.025a7a","name":"Meteo.windspeed","topic":"ns=20;s=MET51.strMET51Read.strWetterstation.strStation1.lrWindgeschwindigkeit","payload":"","payloadType":"num","repeat":"5","crontab":"","once":false,"x":152,"y":593.4999694824219,"wires":[["6a86677a.ef46c8"]]},{"id":"1e4b7df.adbfd82","type":"comment","z":"35db75a3.025a7a","name":"1.3 absolute pressure 3200003","info":"","x":183,"y":249,"wires":[]},{"id":"df5eea2b.60b278","type":"comment","z":"35db75a3.025a7a","name":"1.2 relative humidity 3200002","info":"","x":165,"y":376,"wires":[]},{"id":"2b8d276e.2891c8","type":"comment","z":"35db75a3.025a7a","name":"1.4 wind speed 3200004","info":"","x":166,"y":553,"wires":[]},{"id":"c4a1a6f1.916798","type":"comment","z":"35db75a3.025a7a","name":"1.5 global solar radiation 3200008","info":"","x":189,"y":711,"wires":[]},{"id":"9c1621f7.10321","type":"inject","z":"35db75a3.025a7a","name":"Meteo.globalsolarradiation","topic":"ns=20;s=MET51.strMET51Read.strWetterstation.strStation1.lrGlobalstrahlung","payload":"","payloadType":"num","repeat":"5","crontab":"","once":false,"x":180,"y":767.4999694824219,"wires":[["a85e2898.b325b8"]]},{"id":"a85e2898.b325b8","type":"OpcUa-Client","z":"35db75a3.025a7a","endpoint":"c37e085a.8bf968","action":"subscribe","time":"4","timeUnit":"s","name":"","x":457.989990234375,"y":779,"wires":[["11f737c4.c63e88","95b63b12.b91ed8"]]},{"id":"95b63b12.b91ed8","type":"ui_text","z":"35db75a3.025a7a","group":"303c9969.877a76","order":5,"width":"6","height":"2","name":"Outside Global Solar Radiation","label":"Global Solar Radiation","format":"<font size=\"10\" color=\"white\">{{  msg.payload | uppercase}} W/m2</font>","layout":"col-center","x":798,"y":741,"wires":[]},{"id":"11f737c4.c63e88","type":"debug","z":"35db75a3.025a7a","name":"","active":false,"console":"false","complete":"payload","x":731,"y":834,"wires":[]},{"id":"5d1484fc.eceffc","type":"function","z":"134033fa.c8fdfc","name":"OPC UA","func":"var numericID = global.get(\"numericID\");\nif(numericID == 3200000){\n    msg.topic = \"ns=20;s=MET51.strMET51Read.strWetterstation.strStation1.lrLufttemperatur\";\n}\nelse if(numericID == 3200002){\n    msg.topic = \"ns=20;s=MET51.strMET51Read.strWetterstation.strStation1.lrRelativeFeuchte\";\n}else if (numericID == 3200003){\n    msg.topic = \"ns=20;s=MET51.strMET51Read.strWetterstation.strStation1.lrAbsoluterLuftdruck\";\n}else if (numericID == 3200004){\n    msg.topic = \"ns=20;s=MET51.strMET51Read.strWetterstation.strStation1.lrWindgeschwindigkeit\";\n}else if(numericID == 3200008){\n    msg.topic = \"ns=20;s=MET51.strMET51Read.strWetterstation.strStation1.lrGlobalstrahlung\";\n}else{\n    msg.topic = null;\n}\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1598,"wires":[[]]},{"id":"ea9bc5b5.691b18","type":"inject","z":"134033fa.c8fdfc","name":"Meteo","topic":"","payload":"","payloadType":"str","repeat":"5","crontab":"","once":false,"x":132,"y":1561,"wires":[["5d1484fc.eceffc"]]}]