resources/Node-Red OPC Ua Client Import_08_05_17.txt
[{"id":"40da48b0.2ecee","type":"inject","z":"b9a45c93.5b52","name":"Meteo.Windrichtung","topic":"ns=4;s=MET51.strWrite.lrWindrichtung","payload":"","payloadType":"num","repeat":"1","crontab":"","once":false,"x":138,"y":268,"wires":[["50733b73.01719c"]]},{"id":"7bee0edb.3ce3d8","type":"inject","z":"b9a45c93.5b52","name":"Meteo.Aussentemperatur","topic":"ns=4;s=MET51.strWrite.lrLufttemperatur","payload":"","payloadType":"num","repeat":"1","crontab":"","once":false,"x":155,"y":333,"wires":[["50733b73.01719c"]]},{"id":"45a87724.5e1ae8","type":"inject","z":"b9a45c93.5b52","name":"Meteo.Globalstrahlung","topic":"ns=4;s=MET51.strWrite.lrGlobalstrahlung","payload":"","payloadType":"num","repeat":"1","crontab":"","once":false,"x":146,"y":393,"wires":[["50733b73.01719c"]]},{"id":"aea01597.4c","type":"inject","z":"b9a45c93.5b52","name":"Meteo.RelativerLuftdruckMeereshoehe","topic":"ns=4;s=MET51.strWrite.lrRelativerLuftdruckMeereshoehe","payload":"","payloadType":"num","repeat":"1","crontab":"","once":false,"x":181,"y":450,"wires":[["50733b73.01719c"]]},{"id":"50733b73.01719c","type":"OpcUa-Client","z":"b9a45c93.5b52","endpoint":"f97b8074.1eeaf8","action":"subscribe","time":"4","timeUnit":"s","name":"","x":480,"y":350,"wires":[["bd0bb773.62939","d127a875.97709"]]},{"id":"d127a875.97709","type":"function","z":"b9a45c93.5b52","name":"testfucntion","func":"if (msg.topic === \"ns=4;s=MET51.strWrite.lrGlobalstrahlung\") {\n   return [ msg, null ];\n} else if (msg.topic === \"ns=4;s=MET51.strWrite.lrLufttemperatur\") {\n   return [ null, msg ];\n} else if (msg.topic === \"ns=4;s=MET51.strWrite.lrRelativerLuftdruckMeereshoehe\") {\n   return [ null, null, msg ];\n} else if (msg.topic === \"ns=4;s=MET51.strWrite.lrWindrichtung\") {\n   // msg.payload=\"234\"\n   return [ null, null, null,msg ];\n} else if (msg.topic === \"ns=4;s=MET51.strWrite.lrRelativerLuftdruckMeereshoehe\") {\n   return [ null, null,null,null, msg ];\n}\n\n\n","outputs":"5","noerr":0,"x":536,"y":506,"wires":[["9ed5d010.eefb78","8853ba55.8b0448","b3ab4d95.afe9"],["8e0545aa.8ff6e8","b9fd01e8.75e3b"],["83e7781.814b088","b3ab4d95.afe9"],["25b79d97.503a82"],[]]},{"id":"b3ab4d95.afe9","type":"ui_chart","z":"b9a45c93.5b52","name":"","group":"606887b8.835518","order":0,"width":0,"height":0,"label":"chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":936,"y":298,"wires":[[],[]]},{"id":"9ed5d010.eefb78","type":"ui_gauge","z":"b9a45c93.5b52","name":"","group":"606887b8.835518","order":1,"width":0,"height":0,"gtype":"donut","title":"Gauge","label":"units","format":"{{value}}","min":0,"max":"1500","colors":["#00b500","#e6e600","#ca3838"],"x":991,"y":359,"wires":[]},{"id":"f97b8074.1eeaf8","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://192.168.66.100:4841","login":true},{"id":"606887b8.835518","type":"ui_group","name":"Group 1","tab":"bbfbd95.b3c4c28","order":1,"disp":true,"width":6},{"id":"bbfbd95.b3c4c28","type":"ui_tab","name":"Tab 2","icon":"dashboard","order":2}]