lib/flows/3_LiveDataDashboard
[{"id":"aeaa4a28.4beac8","type":"OpcUa-Client","z":"35db75a3.025a7a","endpoint":"c37e085a.8bf968","action":"subscribe","time":"4","timeUnit":"s","name":"","x":472,"y":149,"wires":[["4b258e36.f7e0f","86bee85a.3301f8"]]},{"id":"4b258e36.f7e0f","type":"debug","z":"35db75a3.025a7a","name":"","active":false,"console":"false","complete":"payload","x":745.010009765625,"y":204,"wires":[]},{"id":"86bee85a.3301f8","type":"ui_text","z":"35db75a3.025a7a","group":"303c9969.877a76","order":1,"width":"6","height":"2","name":"Outside Live Temperature","label":"Ambient Temperature","format":"<font size=\"10\" color=\"white\">{{  msg.payload | uppercase }} &degC</font>","layout":"col-center","x":792.010009765625,"y":111,"wires":[]},{"id":"8ee7a59e.008ac8","type":"inject","z":"35db75a3.025a7a","name":"Meteo.Aussentemperatur","topic":"ns=20;s=MET51.strMET51Read.strWetterstation.strStation1.lrLufttemperatur","payload":"","payloadType":"num","repeat":"5","crontab":"","once":false,"x":194.010009765625,"y":137.49996948242188,"wires":[["aeaa4a28.4beac8"]]},{"id":"db1e789c.b0bbf8","type":"comment","z":"35db75a3.025a7a","name":"1. Live Datafrom OPC UA","info":"This data is taken from OPC UA.","x":154,"y":50,"wires":[]},{"id":"d6ad595.57acfa8","type":"comment","z":"35db75a3.025a7a","name":"1.1 Ambient Temperature 3200000","info":"","x":190,"y":101,"wires":[]},{"id":"a85c6966.280918","type":"ui_text","z":"35db75a3.025a7a","group":"303c9969.877a76","order":3,"width":"6","height":"2","name":"Outside Absolute Pressure","label":"Absolute Air Pressure","format":"<font size=\"10\" color=\"white\">{{  msg.payload | uppercase }} hPa</font>","layout":"col-center","x":807,"y":271,"wires":[]},{"id":"3201f92c.2718c6","type":"OpcUa-Client","z":"35db75a3.025a7a","endpoint":"c37e085a.8bf968","action":"subscribe","time":"4","timeUnit":"s","name":"","x":476.989990234375,"y":309,"wires":[["df0cf7cb.439a98","a85c6966.280918"]]},{"id":"df0cf7cb.439a98","type":"debug","z":"35db75a3.025a7a","name":"","active":false,"console":"false","complete":"payload","x":750,"y":364,"wires":[]},{"id":"d4a4f244.d748f","type":"inject","z":"35db75a3.025a7a","name":"Meteo.Absolutepressure","topic":"ns=20;s=MET51.strMET51Read.strWetterstation.strStation1.lrAbsoluterLuftdruck","payload":"","payloadType":"num","repeat":"5","crontab":"","once":false,"x":189,"y":297.4999694824219,"wires":[["3201f92c.2718c6"]]},{"id":"b7e4c382.b1b76","type":"ui_text","z":"35db75a3.025a7a","group":"303c9969.877a76","order":2,"width":"6","height":"2","name":"Outside Relative Humidity","label":"Relative Humidity","format":"<font size=\"10\" color=\"white\">{{  msg.payload | uppercase }} %</font>","layout":"col-center","x":786,"y":400,"wires":[]},{"id":"d604bfde.90f9e","type":"OpcUa-Client","z":"35db75a3.025a7a","endpoint":"c37e085a.8bf968","action":"subscribe","time":"4","timeUnit":"s","name":"","x":465.989990234375,"y":438,"wires":[["6daea36d.65772c","b7e4c382.b1b76"]]},{"id":"6daea36d.65772c","type":"debug","z":"35db75a3.025a7a","name":"","active":false,"console":"false","complete":"payload","x":739,"y":493,"wires":[]},{"id":"90d755e9.854e28","type":"inject","z":"35db75a3.025a7a","name":"Meteo.RelativeHumidity","topic":"ns=20;s=MET51.strMET51Read.strWetterstation.strStation1.lrRelativeFeuchte","payload":"","payloadType":"num","repeat":"5","crontab":"","once":false,"x":178,"y":426.4999694824219,"wires":[["d604bfde.90f9e"]]},{"id":"39455f86.f5037","type":"ui_text","z":"35db75a3.025a7a","group":"303c9969.877a76","order":4,"width":"6","height":"2","name":"OutsideWind Speed","label":"Wind Speed","format":"<font size=\"10\" color=\"white\">{{  msg.payload | uppercase }} m/s</font>","layout":"col-center","x":770,"y":567,"wires":[]},{"id":"6a86677a.ef46c8","type":"OpcUa-Client","z":"35db75a3.025a7a","endpoint":"c37e085a.8bf968","action":"subscribe","time":"4","timeUnit":"s","name":"","x":459.989990234375,"y":605,"wires":[["ffc2d29a.aa91","39455f86.f5037"]]},{"id":"ffc2d29a.aa91","type":"debug","z":"35db75a3.025a7a","name":"","active":false,"console":"false","complete":"payload","x":733,"y":660,"wires":[]},{"id":"15cda4e6.1b09eb","type":"inject","z":"35db75a3.025a7a","name":"Meteo.windspeed","topic":"ns=20;s=MET51.strMET51Read.strWetterstation.strStation1.lrWindgeschwindigkeit","payload":"","payloadType":"num","repeat":"5","crontab":"","once":false,"x":152,"y":593.4999694824219,"wires":[["6a86677a.ef46c8"]]},{"id":"1e4b7df.adbfd82","type":"comment","z":"35db75a3.025a7a","name":"1.3 absolute pressure 3200003","info":"","x":183,"y":249,"wires":[]},{"id":"df5eea2b.60b278","type":"comment","z":"35db75a3.025a7a","name":"1.2 relative humidity 3200002","info":"","x":165,"y":376,"wires":[]},{"id":"2b8d276e.2891c8","type":"comment","z":"35db75a3.025a7a","name":"1.4 wind speed 3200004","info":"","x":166,"y":553,"wires":[]},{"id":"c4a1a6f1.916798","type":"comment","z":"35db75a3.025a7a","name":"1.5 global solar radiation 3200008","info":"","x":189,"y":711,"wires":[]},{"id":"9c1621f7.10321","type":"inject","z":"35db75a3.025a7a","name":"Meteo.globalsolarradiation","topic":"ns=20;s=MET51.strMET51Read.strWetterstation.strStation1.lrGlobalstrahlung","payload":"","payloadType":"num","repeat":"5","crontab":"","once":false,"x":180,"y":767.4999694824219,"wires":[["a85e2898.b325b8"]]},{"id":"a85e2898.b325b8","type":"OpcUa-Client","z":"35db75a3.025a7a","endpoint":"c37e085a.8bf968","action":"subscribe","time":"4","timeUnit":"s","name":"","x":457.989990234375,"y":779,"wires":[["11f737c4.c63e88","95b63b12.b91ed8"]]},{"id":"95b63b12.b91ed8","type":"ui_text","z":"35db75a3.025a7a","group":"303c9969.877a76","order":5,"width":"6","height":"2","name":"Outside Global Solar Radiation","label":"Global Solar Radiation","format":"<font size=\"10\" color=\"white\">{{  msg.payload | uppercase}} W/m2</font>","layout":"col-center","x":798,"y":741,"wires":[]},{"id":"11f737c4.c63e88","type":"debug","z":"35db75a3.025a7a","name":"","active":false,"console":"false","complete":"payload","x":731,"y":834,"wires":[]},{"id":"c37e085a.8bf968","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://192.168.223.20:4851","login":false},{"id":"303c9969.877a76","type":"ui_group","z":"","name":"OPC UA Weather Station","tab":"650e6ab0.629624","disp":true,"width":"30"},{"id":"650e6ab0.629624","type":"ui_tab","z":"","name":"Live Dash","icon":"dashboard"}]