lib/flows/highcharts
[{"id":"7a9783bb.10534c","type":"ui_template","z":"ad33cb97.8079a8","group":"78c97882.c8d7d8","name":"Highcharts","order":0,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width\">\n</head>\n<body>\n<script src=\"https://code.highcharts.com/highcharts.js\"></script>\n<script src=\"https://code.highcharts.com/modules/exporting.js\"></script>\n<div id=\"container\" style=\"min-width: 600px; height: 500px; margin: 0 auto\"></div>\n<script>\n(function(scope) {\n        scope.$watch('msg.payload', function(dataseries) {\n            \n    Highcharts.chart('container', {\n    chart: {\n        type: 'column'\n    },\n    title: {\n        text: 'Monthly Average Value'\n    },\n    subtitle: {\n        text: 'Empa NEST'\n    },\n    xAxis: {\n        \n        categories: [\n            'Jan',\n            'Feb',\n            'Mar',\n            'Apr',\n            'May',\n            'Jun',\n            'Jul',\n            'Aug',\n            'Sep',\n            'Oct',\n            'Nov',\n            'Dec'\n        ],\n        crosshair: true\n    },\n    yAxis: {\n        min: 0,\n        title: {\n            text: 'Value'\n        }\n    },\n    tooltip: {\n        headerFormat: '<span style=\"font-size:10px\">{point.key}</span><table>',\n        pointFormat: '<tr><td style=\"color:{series.color};padding:0\">{series.name}: </td>' +\n            '<td style=\"padding:0\"><b>{point.y:.1f} mm</b></td></tr>',\n        footerFormat: '</table>',\n        shared: true,\n        useHTML: true\n    },\n    plotOptions: {\n        column: {\n            pointPadding: 0.2,\n            borderWidth: 0\n        }\n    },\n    series: [{\n        name: 'Numeric_id = 320000',\n        data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4]\n\n    }, {\n        name: 'Numeric_id = 320001',\n        data: [83.6, 78.8, 98.5, 93.4, 106.0, 84.5, 105.0, 104.3, 91.2, 83.5, 106.6, 92.3]\n\n    }, {\n        name: 'Numeric_id = 320002',\n        data: dataseries\n    }]\n});\n        });\n    })(scope);\n</script>\n\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"x":436,"y":225,"wires":[[]]},{"id":"e65f745f.055658","type":"function","z":"ad33cb97.8079a8","name":"","func":"msg.paylaod = [];\nvar value = [48.9, 38.8, 39.3, 41.4, 47.0, 48.3, 59.0, 59.6, 52.4, 65.2, 59.3, 51.2];\nvar month = [\n            'Jan',\n            'Feb',\n            'Mar',\n            'Apr',\n            'May',\n            'Jun',\n            'Jul',\n            'Aug',\n            'Sep',\n            'Oct',\n            'Nov',\n            'Dec'];\n        \nmsg.payload = [value,month];\n\nreturn msg;","outputs":1,"noerr":0,"x":331,"y":426,"wires":[[]]},{"id":"ea4c6512.58e478","type":"debug","z":"ad33cb97.8079a8","name":"highcharts","active":true,"console":"false","complete":"payload","x":317,"y":531,"wires":[]},{"id":"12d58b91.6cc244","type":"function","z":"ad33cb97.8079a8","name":"","func":"msg.payload = [48.9, 38.8, 39.3, 41.4, 47.0, 48.3, 59.0, 59.6, 52.4, 65.2, 59.3, 51.2]\nreturn msg;","outputs":1,"noerr":0,"x":477,"y":343,"wires":[[]]},{"id":"fca802a4.ca2f7","type":"MSSQL","z":"ad33cb97.8079a8","mssqlCN":"9534cec8.3799d","name":"NEST","query":"","outField":"payload","x":159,"y":341,"wires":[["b6124e4a.69f17","79475b44.f00724"]]},{"id":"b6124e4a.69f17","type":"debug","z":"ad33cb97.8079a8","name":"DB data","active":true,"console":"false","complete":"payload","x":118,"y":386,"wires":[]},{"id":"79475b44.f00724","type":"function","z":"ad33cb97.8079a8","name":"","func":"data = msg.payload;\nmsg.paylaod = [];\nvar value = []\nvar date = []\nvar monthmap = [\n            'Jan',\n            'Feb',\n            'Mar',\n            'Apr',\n            'May',\n            'Jun',\n            'Jul',\n            'Aug',\n            'Sep',\n            'Oct',\n            'Nov',\n            'Dec'];\nfor(var i = 0; i < data.length;i++){\n    value.push(data[i].avg_temp);\n    date.push(monthmap[data[i].mmonth-1]);\n    \n}\n    \n\n        \nmsg.payload = [value,date];\n\nreturn msg;","outputs":1,"noerr":0,"x":189,"y":484,"wires":[["ea4c6512.58e478","773ae271.2f72dc"]]},{"id":"6a27d31b.442e8c","type":"inject","z":"ad33cb97.8079a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":82,"y":261,"wires":[["c186ad00.9930f"]]},{"id":"c186ad00.9930f","type":"ui_button","z":"ad33cb97.8079a8","name":"_month","group":"27b2930b.11a30c","order":0,"width":0,"height":0,"passthru":false,"label":"button","color":"","bgcolor":"","icon":"","payload":"_month","payloadType":"str","topic":"","x":227,"y":286,"wires":[["ab0ce7a7.0504b8"]]},{"id":"ab0ce7a7.0504b8","type":"function","z":"ad33cb97.8079a8","name":"","func":"var time = msg.payload;\nmsg.query = \"SELECT AVG(avg_value) as avg_temp,\"+ time +\"FROM \n(\nSELECT  AVG(TRY_CAST(_VALUE AS FLOAT)) AS avg_value ,DATEPART( year, _TIMESTAMP ) AS _year,\nDATEPART( month, _TIMESTAMP ) AS _month, DATEPART( day, _TIMESTAMP ) AS _day\nFROM [NestTest].[dbo].[KepMET51]  \nwhere kepMet51._NUMERICID=3200000 AND  TRY_CAST(_VALUE AS FLOAT) < 100\nAND DATEPART( year, _TIMESTAMP ) = 2017\nGROUP BY \nDATEPART( year, _TIMESTAMP ), \nDATEPART( month, _TIMESTAMP ) ,\nDATEPART( day, _TIMESTAMP )\n) AS ID\ngroup by\"+ time;\nreturn msg;","outputs":1,"noerr":12,"x":392,"y":287,"wires":[["fca802a4.ca2f7"]]},{"id":"78c97882.c8d7d8","type":"ui_group","z":"","name":"Timestamp vs value","tab":"35a8ce7.1dc5c32","order":1,"disp":true,"width":"12"},{"id":"9534cec8.3799d","type":"MSSQL-CN","z":"","name":"NEST","server":"NEST-SQL-HIST","encyption":false,"database":"NestTest"},{"id":"27b2930b.11a30c","type":"ui_group","z":"","name":"highcharts from DB","tab":"ea399daf.ed8c3","order":1,"disp":true,"width":"12"},{"id":"35a8ce7.1dc5c32","type":"ui_tab","z":"","name":"EmpaDashboard","icon":"dashboard"},{"id":"ea399daf.ed8c3","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]