lib/flows/Sample-handnodes
[{"id":"af274f1f.3eb31","type":"inject","z":"134033fa.c8fdfc","name":"Select","topic":"","payload":"SELECT TOP (3) [_TIMESTAMP] ,[_VALUE] FROM [NestTest].[dbo].[KepMet51]","payloadType":"str","repeat":"","crontab":"","once":true,"x":146,"y":112,"wires":[["65dce15d.2da6d"]]},{"id":"65dce15d.2da6d","type":"MSSQL","z":"134033fa.c8fdfc","mssqlCN":"9534cec8.3799d","name":"NEST","query":"","outField":"payload","x":357,"y":126,"wires":[["c4b6d982.84bee8","b36f49ee.7ee678"]]},{"id":"d39a7d82.005a2","type":"ui_button","z":"134033fa.c8fdfc","name":"Year","group":"27b2930b.11a30c","order":0,"width":"2","height":"1","passthru":false,"label":"Year","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"Year","x":108,"y":344,"wires":[["4687521a.b1530c"]]},{"id":"89139567.4372b8","type":"csv","z":"134033fa.c8fdfc","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","x":488,"y":425,"wires":[["3f275837.06cce8","afd404fe.15f4c8"]]},{"id":"4687521a.b1530c","type":"switch","z":"134033fa.c8fdfc","name":"If Yes","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","outputs":1,"x":270,"y":340,"wires":[["89139567.4372b8"]]},{"id":"afd404fe.15f4c8","type":"debug","z":"134033fa.c8fdfc","name":"","active":false,"console":"false","complete":"false","x":635,"y":423,"wires":[]},{"id":"e6c93245.cd6dc","type":"ui_button","z":"134033fa.c8fdfc","name":"","group":"27b2930b.11a30c","order":0,"width":"2","height":"1","passthru":false,"label":"Month","color":"","bgcolor":"","icon":"","payload":"MONTH","payloadType":"str","topic":"MONTH","x":147,"y":44,"wires":[[]]},{"id":"604fe142.78d51","type":"json","z":"134033fa.c8fdfc","name":"","x":254,"y":180,"wires":[["89139567.4372b8","7d96ccbc.086044"]]},{"id":"995739d2.da1f28","type":"ui_button","z":"134033fa.c8fdfc","name":"Week","group":"27b2930b.11a30c","order":0,"width":"2","height":"1","passthru":false,"label":"Week","color":"","bgcolor":"","icon":"","payload":"Week","payloadType":"str","topic":"Week","x":245,"y":43,"wires":[[]]},{"id":"5a76c6ff.c3b548","type":"ui_button","z":"134033fa.c8fdfc","name":"Day","group":"27b2930b.11a30c","order":0,"width":"2","height":"1","passthru":false,"label":"Day","color":"","bgcolor":"","icon":"","payload":"Day","payloadType":"str","topic":"Day","x":317,"y":42,"wires":[[]]},{"id":"bf1e97fb.8be948","type":"ui_button","z":"134033fa.c8fdfc","name":"Hour","group":"27b2930b.11a30c","order":0,"width":"2","height":"1","passthru":false,"label":"Hour","color":"","bgcolor":"","icon":"","payload":"Hour","payloadType":"str","topic":"Hour","x":438,"y":42,"wires":[[]]},{"id":"27640373.486e8c","type":"ui_button","z":"134033fa.c8fdfc","name":"Min","group":"27b2930b.11a30c","order":0,"width":"2","height":"1","passthru":false,"label":"Min","color":"","bgcolor":"","icon":"","payload":"Min","payloadType":"str","topic":"Min","x":560,"y":42,"wires":[[]]},{"id":"b36f49ee.7ee678","type":"change","z":"134033fa.c8fdfc","name":"Expression Modified","rules":[{"t":"change","p":"payload","pt":"msg","from":"\"","fromt":"str","to":"'","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":132,"y":223,"wires":[["604fe142.78d51","ae4e0b27.f5d698"]]},{"id":"ae4e0b27.f5d698","type":"debug","z":"134033fa.c8fdfc","name":"Expression modified","active":false,"console":"false","complete":"payload","x":208,"y":289,"wires":[]},{"id":"8031443f.f807b8","type":"debug","z":"134033fa.c8fdfc","name":"","active":true,"console":"false","complete":"payload","x":460,"y":495,"wires":[]},{"id":"c4592aa.5161cd8","type":"ui_dropdown","z":"134033fa.c8fdfc","name":"","label":"NUMERIC_ID","place":"","group":"27b2930b.11a30c","order":0,"width":"9","height":"1","passthru":true,"options":[{"label":"TEMPERATURE","value":"3200001","type":"str"},{"label":"POLLUTION","value":"3200002","type":"str"}],"payload":"","topic":"","x":101,"y":423,"wires":[[]]},{"id":"9534cec8.3799d","type":"MSSQL-CN","z":"","name":"NEST","server":"NEST-SQL-HIST","encyption":false,"database":"NestTest"},{"id":"27b2930b.11a30c","type":"ui_group","z":"","name":"highcharts from DB","tab":"ea399daf.ed8c3","order":1,"disp":true,"width":"12"},{"id":"ea399daf.ed8c3","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]